Release
lib
Essentials/bin
Essentials/obj
DownloadManager/obj
DownloadManager/bin
DownloadManagerProxy/build/Release
DownloadManagerProxy/build
DownloadManagerTest/bin
DownloadManagerTest/obj
bootembed/bin
Tools/obj
Shared/obj
Scripting/obj
Mods/obj
Installer/obj
Commanding/obj
Archive/obj
Archive/bin
Commanding/bin
Mods/bin  
Shared/bin  
Tools/bin  
UI/obj 
UI/bin 
ScriptingTests/obj 
packages 
UtilTests/obj 
UtilTests/bin 
ScriptingTests/bin 
bootembed/obj 
Scripting/bin 
IniEditing/obj  
Installer/bin  
Archiving/obj  
Archiving/bin  
ArchivingTests/obj  
ArchivingTests/bin  
IniEditing/bin  
InstallationLogging/bin 
InstallationLogging/obj 
Interfaces/bin  
Interfaces/obj  
PluginManagement/bin  
PluginManagement/obj  
Scripting.Execution/bin  
Scripting.Execution/obj  
Scripting.ExecutionTests/bin  
Scripting.ExecutionTests/obj  
Scripting.Interfaces/obj  
Scripting.Interfaces/bin  
CommandingTests/obj  
CommandingTests/bin  
IniEditingTests/bin  
IniEditingTests/obj  
Installer.LoggingTests/obj 
Installer.LoggingTests/bin 
ModsTests/bin 
ModsTests/obj 
bootembed/obj  
ReduxStore/bin   
ReduxStore/obj  
InstallerTests/bin   
InstallerTests/obj   
