@layer components {
    .nxm-input {
        width: 100%;
        min-height: calc(var(--spacing) * 9);
        border-radius: calc(var(--spacing) * 1);
        padding-inline: calc(var(--spacing) * 3);

        font-size: var(--text-body-lg);
        line-height: var(--text-body-lg--line-height);
        letter-spacing: var(--text-body-lg--letter-spacing);

        color: var(--color-neutral-strong);
        border: solid 1px var(--color-stroke-subdued);
        background-color: var(--color-translucent-dark-400);

        transition-property:
            color, background-color, border-color, outline-color, fill, stroke,
            opacity, pointer-events;
        transition-timing-function: var(--default-transition-timing-function);
        transition-duration: var(--default-transition-duration);

        &::placeholder {
            color: var(--color-neutral-subdued);
            font-style: normal;
        }

        &:disabled,
        &.nxm-input-disabled {
            opacity: 0.4;
            outline: none;
        }

        &.nxm-input-sm {
            font-size: var(--text-body-md);
            line-height: var(--text-body-md--line-height);
            letter-spacing: var(--text-body-md--letter-spacing);
            min-height: calc(var(--spacing) * 7);
        }

        &.nxm-input-error {
            border-color: var(--color-danger-strong);
            background-color: var(--color-surface-translucent-mid);
        }

        &:enabled:not(.nxm-button-disabled, .nxm-input-error) {
            &:hover {
                border-color: var(--color-stroke-moderate);
                background-color: var(--color-surface-translucent-low);
            }

            &:focus {
                border-color: var(--color-stroke-strong);
                background-color: var(--color-surface-translucent-mid);
            }
        }
    }
}
