{
  "presets": ["@babel/react", "@babel/env", "@babel/preset-typescript"],
  "plugins": [
    "i18next-extract",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "env": {
    "development": {
      "presets": [],
      "plugins": [
      ]
    },
    "production": {
      "minified": true,
      "presets": ["react-optimize"],
      "plugins": [
      ]
    }
  }
}
