{
  "presets": ["react", "es2015", "stage-0"],
  "plugins": [],
  "env": {
    "development": {
      "presets": [],
      "plugins": [
      ]
    },
    "production": {
      "minified": true,
      "presets": ["react-optimize"],
      "plugins": [
      ]
    }
  }
}
