{
  "presets": ["@babel/react", "@babel/env"],
  "plugins": [],
  "env": {
    "development": {
      "presets": [],
      "plugins": [
      ]
    },
    "production": {
      "minified": true,
      "presets": ["react-optimize"],
      "plugins": [
      ]
    }
  }
}
