[submodule "extensions/games"]
	path = extensions/games
	url = https://github.com/Nexus-Mods/vortex-games.git
	branch = master
[submodule "api"]
	path = api
	url = https://github.com/Nexus-Mods/vortex-api.git
	branch = maste
[submodule "extensions/fomod-installer"]
	path = extensions/fomod-installer
	url = https://github.com/Nexus-Mods/fomod-installer
	branch = 18465-native-port
