node_modules
typings
dist
out
doc
coverage
.vscode/.BROWSE.VC.DB*

# User-specific files
*.suo

# auto generated
auto.gypi
auto-top.gypi

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
api/
build/
bld/
[Bb]in/
[Oo]bj/
