.btn-embed {
  padding: 1px 5px;
  border: 0px;
  color: $gray-darker;
  background-color: transparent;
}

.rule-actions>.btn {
  @extend .btn-embed;
}

.rule-actions>.btn:hover {
  background-color: $gray;
}