/* Error: unmatched "}".
 *      ,
 * 1361 | }
 *      | ^
 *      '
 *   style.scss 1361:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: unmatched "}".\a      \2577 \a 1361 \2502  }\a      \2502  ^\a      \2575 \a   style.scss 1361:1  root stylesheet';
}
