@theme {
    --color-blue-50: #eff6ff;
    --color-blue-100: #dbeafe;
    --color-blue-200: #bfdbfe;
    --color-blue-300: #93c5fd;
    --color-blue-400: #60a5fa;
    --color-blue-500: #3b82f6;
    --color-blue-600: #2563eb;
    --color-blue-700: #1d4ed8;
    --color-blue-800: #1e40af;
    --color-blue-900: #1e3a8a;
    --color-blue-950: #172554;

    --color-cyan-700: #0e7490;

    --color-green-50: #f0fdf4;
    --color-green-100: #dcfce7;
    --color-green-200: #bbf7d0;
    --color-green-300: #86efac;
    --color-green-400: #4ade80;
    --color-green-500: #22c55e;
    --color-green-600: #16a34a;
    --color-green-700: #15803d;
    --color-green-800: #166534;
    --color-green-900: #14532d;
    --color-green-950: #052e16;

    --color-orange-50: #fff7ed;
    --color-orange-100: #ffedd5;
    --color-orange-200: #fed7aa;
    --color-orange-300: #fdba74;
    --color-orange-400: #fb923c;
    --color-orange-500: #f97316;
    --color-orange-600: #ea580c;
    --color-orange-700: #c2410c;
    --color-orange-800: #9a3412;
    --color-orange-900: #7c2d12;
    --color-orange-950: #431407;

    --color-pink-700: #be185d;

    --color-red-50: #fef2f2;
    --color-red-100: #fee2e2;
    --color-red-200: #fecaca;
    --color-red-300: #fca5a5;
    --color-red-400: #f87171;
    --color-red-500: #ef4444;
    --color-red-600: #dc2626;
    --color-red-700: #b91c1c;
    --color-red-800: #991b1b;
    --color-red-900: #7f1d1d;
    --color-red-950: #450a0a;

    --color-teal-50: #f0fdfa;
    --color-teal-100: #ccfbf1;
    --color-teal-200: #99f6e4;
    --color-teal-300: #5eead4;
    --color-teal-400: #2dd4bf;
    --color-teal-500: #14b8a6;
    --color-teal-600: #0d9488;
    --color-teal-700: #0f766e;
    --color-teal-800: #115e59;
    --color-teal-900: #134e4a;
    --color-teal-950: #042f2e;

    --color-violet-50: #f5f3ff;
    --color-violet-100: #ede9fe;
    --color-violet-200: #ddd6fe;
    --color-violet-300: #c4b5fd;
    --color-violet-400: #a78bfa;
    --color-violet-500: #8b5cf6;
    --color-violet-600: #7c3aed;
    --color-violet-700: #6d28d9;
    --color-violet-800: #5b21b6;
    --color-violet-900: #4c1d95;
    --color-violet-950: #2e1065;

    --color-yellow-50: #fefce8;
    --color-yellow-100: #fef9c3;
    --color-yellow-200: #fef08a;
    --color-yellow-300: #fde047;
    --color-yellow-400: #facc15;
    --color-yellow-500: #eab308;
    --color-yellow-600: #ca8a04;
    --color-yellow-700: #a16207;
    --color-yellow-800: #854d0e;
    --color-yellow-900: #713f12;
    --color-yellow-950: #422006;

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f4f4f5;
    --color-zinc-200: #e4e4e7;
    --color-zinc-300: #d4d4d8;
    --color-zinc-400: #a1a1aa;
    --color-zinc-500: #71717a;
    --color-zinc-600: #52525b;
    --color-zinc-700: #3e3e47;
    --color-zinc-800: #29292e;
    --color-zinc-900: #1d1d21;
    --color-zinc-950: #0f0f10;
}

@theme inline {
    --color-translucent-50: --alpha(var(--color-white) / 5%);
    --color-translucent-100: --alpha(var(--color-white) / 10%);
    --color-translucent-200: --alpha(var(--color-white) / 20%);
    --color-translucent-300: --alpha(var(--color-white) / 30%);
    --color-translucent-400: --alpha(var(--color-white) / 40%);
    --color-translucent-500: --alpha(var(--color-white) / 50%);
    --color-translucent-600: --alpha(var(--color-white) / 60%);
    --color-translucent-700: --alpha(var(--color-white) / 70%);
    --color-translucent-800: --alpha(var(--color-white) / 80%);
    --color-translucent-900: --alpha(var(--color-white) / 90%);
    --color-translucent-950: --alpha(var(--color-white) / 95%);
    --color-translucent-weaker: --alpha(var(--color-white) / 10%);
    --color-translucent-weak: --alpha(var(--color-white) / 40%);
    --color-translucent-subdued: --alpha(var(--color-white) / 50%);
    --color-translucent-moderate: --alpha(var(--color-white) / 70%);
    --color-translucent-strong: --alpha(var(--color-white) / 95%);

    --color-translucent-dark-50: --alpha(var(--color-black) / 5%);
    --color-translucent-dark-100: --alpha(var(--color-black) / 10%);
    --color-translucent-dark-200: --alpha(var(--color-black) / 20%);
    --color-translucent-dark-300: --alpha(var(--color-black) / 30%);
    --color-translucent-dark-400: --alpha(var(--color-black) / 40%);
    --color-translucent-dark-500: --alpha(var(--color-black) / 50%);
    --color-translucent-dark-600: --alpha(var(--color-black) / 60%);
    --color-translucent-dark-700: --alpha(var(--color-black) / 70%);
    --color-translucent-dark-800: --alpha(var(--color-black) / 80%);
    --color-translucent-dark-900: --alpha(var(--color-black) / 90%);
    --color-translucent-dark-950: --alpha(var(--color-black) / 95%);

    --color-neutral-50: var(--color-zinc-50);
    --color-neutral-100: var(--color-zinc-100);
    --color-neutral-200: var(--color-zinc-200);
    --color-neutral-300: var(--color-zinc-300);
    --color-neutral-400: var(--color-zinc-400);
    --color-neutral-500: var(--color-zinc-500);
    --color-neutral-600: var(--color-zinc-600);
    --color-neutral-700: var(--color-zinc-700);
    --color-neutral-800: var(--color-zinc-800);
    --color-neutral-900: var(--color-zinc-900);
    --color-neutral-950: var(--color-zinc-950);
    --color-neutral-weak: var(--color-zinc-500);
    --color-neutral-subdued: var(--color-zinc-400);
    --color-neutral-moderate: var(--color-zinc-300);
    --color-neutral-strong: var(--color-zinc-100);
    --color-neutral-inverted: var(--color-zinc-950);

    --color-stroke-weak: --alpha(var(--color-white) / 10%);
    --color-stroke-subdued: --alpha(var(--color-white) / 20%);
    --color-stroke-moderate: --alpha(var(--color-white) / 30%);
    --color-stroke-strong: --alpha(var(--color-white) / 60%);

    --color-surface-base: var(--color-zinc-950);
    --color-surface-low: var(--color-zinc-900);
    --color-surface-mid: var(--color-zinc-800);
    --color-surface-high: var(--color-zinc-700);
    --color-surface-inverted: var(--color-zinc-50);
    --color-surface-translucent-low: --alpha(var(--color-white) / 5%);
    --color-surface-translucent-mid: --alpha(var(--color-white) / 10%);
    --color-surface-translucent-high: --alpha(var(--color-white) / 20%);

    --color-primary-50: var(--color-orange-50);
    --color-primary-100: var(--color-orange-100);
    --color-primary-200: var(--color-orange-200);
    --color-primary-300: var(--color-orange-300);
    --color-primary-400: var(--color-orange-400);
    --color-primary-500: var(--color-orange-500);
    --color-primary-600: var(--color-orange-600);
    --color-primary-700: var(--color-orange-700);
    --color-primary-800: var(--color-orange-800);
    --color-primary-900: var(--color-orange-900);
    --color-primary-950: var(--color-orange-950);
    --color-primary-weak: var(--color-orange-700);
    --color-primary-subdued: var(--color-orange-500);
    --color-primary-moderate: var(--color-orange-400);
    --color-primary-strong: var(--color-orange-300);

    --color-creator-50: var(--color-teal-50);
    --color-creator-100: var(--color-teal-100);
    --color-creator-200: var(--color-teal-200);
    --color-creator-300: var(--color-teal-300);
    --color-creator-400: var(--color-teal-400);
    --color-creator-500: var(--color-teal-500);
    --color-creator-600: var(--color-teal-600);
    --color-creator-700: var(--color-teal-700);
    --color-creator-800: var(--color-teal-800);
    --color-creator-900: var(--color-teal-900);
    --color-creator-950: var(--color-teal-950);
    --color-creator-weak: var(--color-teal-950);
    --color-creator-subdued: var(--color-teal-800);
    --color-creator-moderate: var(--color-teal-600);
    --color-creator-strong: var(--color-teal-400);

    --color-premium-50: var(--color-violet-50);
    --color-premium-100: var(--color-violet-100);
    --color-premium-200: var(--color-violet-200);
    --color-premium-300: var(--color-violet-300);
    --color-premium-400: var(--color-violet-400);
    --color-premium-500: var(--color-violet-500);
    --color-premium-600: var(--color-violet-600);
    --color-premium-700: var(--color-violet-700);
    --color-premium-800: var(--color-violet-800);
    --color-premium-900: var(--color-violet-900);
    --color-premium-950: var(--color-violet-950);
    --color-premium-weak: var(--color-violet-950);
    --color-premium-subdued: var(--color-violet-800);
    --color-premium-moderate: var(--color-violet-600);
    --color-premium-strong: var(--color-violet-300);

    --color-danger-50: var(--color-red-50);
    --color-danger-100: var(--color-red-100);
    --color-danger-200: var(--color-red-200);
    --color-danger-300: var(--color-red-300);
    --color-danger-400: var(--color-red-400);
    --color-danger-500: var(--color-red-500);
    --color-danger-600: var(--color-red-600);
    --color-danger-700: var(--color-red-700);
    --color-danger-800: var(--color-red-800);
    --color-danger-900: var(--color-red-900);
    --color-danger-950: var(--color-red-950);
    --color-danger-weak: var(--color-red-800);
    --color-danger-subdued: var(--color-red-600);
    --color-danger-moderate: var(--color-red-500);
    --color-danger-strong: var(--color-red-400);

    --color-focus-subdued: var(--color-blue-500);

    --color-info-50: var(--color-blue-50);
    --color-info-100: var(--color-blue-100);
    --color-info-200: var(--color-blue-200);
    --color-info-300: var(--color-blue-300);
    --color-info-400: var(--color-blue-400);
    --color-info-500: var(--color-blue-500);
    --color-info-600: var(--color-blue-600);
    --color-info-700: var(--color-blue-700);
    --color-info-800: var(--color-blue-800);
    --color-info-900: var(--color-blue-900);
    --color-info-950: var(--color-blue-950);
    --color-info-weak: var(--color-blue-700);
    --color-info-subdued: var(--color-blue-500);
    --color-info-moderate: var(--color-blue-400);
    --color-info-strong: var(--color-blue-300);

    --color-warning-50: var(--color-yellow-50);
    --color-warning-100: var(--color-yellow-100);
    --color-warning-200: var(--color-yellow-200);
    --color-warning-300: var(--color-yellow-300);
    --color-warning-400: var(--color-yellow-400);
    --color-warning-500: var(--color-yellow-500);
    --color-warning-600: var(--color-yellow-600);
    --color-warning-700: var(--color-yellow-700);
    --color-warning-800: var(--color-yellow-800);
    --color-warning-900: var(--color-yellow-900);
    --color-warning-950: var(--color-yellow-950);
    --color-warning-weak: var(--color-yellow-600);
    --color-warning-subdued: var(--color-yellow-400);
    --color-warning-moderate: var(--color-yellow-300);
    --color-warning-strong: var(--color-yellow-200);

    --color-success-50: var(--color-green-50);
    --color-success-100: var(--color-green-100);
    --color-success-200: var(--color-green-200);
    --color-success-300: var(--color-green-300);
    --color-success-400: var(--color-green-400);
    --color-success-500: var(--color-green-500);
    --color-success-600: var(--color-green-600);
    --color-success-700: var(--color-green-700);
    --color-success-800: var(--color-green-800);
    --color-success-900: var(--color-green-900);
    --color-success-950: var(--color-green-950);
    --color-success-weak: var(--color-green-800);
    --color-success-subdued: var(--color-green-600);
    --color-success-moderate: var(--color-green-500);
    --color-success-strong: var(--color-green-300);
}
