.highlight-base {
  padding: 1px 5px;
  border: 0px;
  &:hover, &:active, &:focus {
    color: $link-hover-color;
  }
}

.highlight-1 {
  background-color: #ff0000;
  &:hover, &:active, &:focus {
    background-color: #ff0000;
  }
}

.highlight-2 {
  background-color: #03a9f4;
  &:hover, &:active, &:focus {
    background-color: #03a9f4;
  }
}

.highlight-3 {
  background-color: #4caf50;
  &:hover, &:active, &:focus {
    background-color: #4caf50;
  }
}

.highlight-4 {
  background-color: #cddc39;
  &:hover, &:active, &:focus {
    background-color: #cddc39;
  }
}

.highlight-5 {
  background-color: #ff9800;
  &:hover, &:active, &:focus {
    background-color: #ff9800;
  }
}

.highlight-default {
  background-color: transparent;
  &:hover, &:active, &:focus {
    background-color: transparent;
  }
}

.textarea-notes {
  width: 100%;
  min-height: 100px;
  resize: none;
}
