/*
$brand-primary: #C87B28;
$brand-highlight: #1D4ED8;
$brand-success: #166534;
$brand-info: #1D4ED8;
$brand-warning: #FACC15;
$brand-danger: #991B1B;
$brand-bg: $gray-lighter;
$brand-menu: #4C4C4C;
$brand-secondary: #D78F46;
$brand-clickable: #D78F46;
$text-color: #eeeeee;
$text-color-disabled: #808080;
$link-color: #D78F46;
*/

$gutter-width: 16px;
$titlebar-height: 52px !default;
$titlebar-rows: 1 !default;