.bbcode-spoiler-tag {
    button {
        display: block;
    }
}

.youtube-embed-container {
    display: inline-block;

    .youtube-privacy-notice {
        font-size: 0.85em;
        opacity: 0.7;
        margin: 4px 0 0 0;
        text-align: center;
    }
}
