@font-face {
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: 400;
  src: local('BebasNeue'), local('BebasNeue-Regular'), url(assets/fonts/bebasneue_regular.woff2) format('woff2');
}

@font-face {
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: 300;
  src: local('BebasNeue-Light'), url(assets/fonts/bebasneue_light.woff2) format('woff2');
}
