.dashlet {
  border: $border-width solid $border-color;
  background-color: $brand-menu;
  padding: $half-gutter;
  height: 100%;
  h3 {
    margin-top: 0;
    text-transform: uppercase;
  }
  li {
    border: 0px;
    background-color: lighten($brand-menu, 5%);
    margin-bottom: 2px;
    .icon-todo-type {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: $half-gutter;
      background-color: $brand-info;
      padding: 0.5em;
      width: 2.2em;
      height: 2.2em;
    }
    span {
      flex: 1 1 0;
      margin-top: auto;
      margin-bottom: auto;
    }
    button {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 10px;
    }
  }
}

.dashlet-starter {
  padding-right: 50px;
}

.dashlet-todo {
  li {
    display: flex;
  }
}

.dashlet-news {
  display: flex;
  flex-direction: column;
  ul {
    margin-bottom: 0;
  }
}

.dashlet-nexus-login {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;

  .nexus-login-text {
    font-size: larger;
    font-weight: bold;
  }
}

.dashlet-nexus-account {
  display: flex;
  width: 100%;
  height: 100%;
  padding: $gutter-width;
  align-items: center;
  background-color: $brand-menu;

  .nexus-name {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    .nexus-name-account {
      font-size: larger;
    }
  }

  .btn {
    width: 48px;
    height: 48px;
    border-radius: 32px;
  }
}

.nexus-name-username,
.nexus-login-heading {
  text-transform: uppercase;
  line-height: 1em;
  font-size: 56px;
  font-family: 'BebasNeue';
  font-weight: 300;
}

.packery-item {
  padding: 5px;
  overflow: hidden;

  .packery-buttons {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    > * {
      margin-left: 4px;
    }
  }
}

.packery-drop-placeholder {
  outline: 3px dashed #4C4C4C;
  outline-offset: -6px;
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}

.lodpi, .hidpi {
  .packery-height-1 {
    height: 120px;
  }
  .packery-height-2 {
    height: 240px;
  }
  .packery-height-3 {
    height: 360px;
  }
  .packery-height-4 {
    height: 480px;
  }
  .packery-height-5 {
    height: 600px;
  }
}

.dashlet-game-title {
  white-space: nowrap;
  text-align: center;
  margin: 0px;
  height: 120px;
  line-height: 100px;
}

.dashlet-game-more {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 130px;
  background: linear-gradient(to right,rgba(25, 36, 49, 0), rgba(25, 36, 49, 0.75), rgb(25, 36, 49));
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    text-align: right;
    margin-right: 20px;
  }
}

.list-news {
  overflow-y: auto;
  img {
    max-width: 50%;
    margin: 5px;
  }
}
