.rss-item {
  background-color: $brand-menu !important;
  padding: 0 10px;
  margin-bottom: 8px !important;
}

.rss-image {
  height: 80px;
  background-size: cover !important;
  background-position-y: 30% !important;
  min-height: 50px;
}

.rss-category {
  position: absolute;
  top: 0;
  left: 8px;
  background-color: $brand-secondary;
  padding: 0 4px;
}

.rss-extras {
  background: $gray-lighter;
  display: flex;
  padding: 8px;
  font-size: smaller;
  margin: 10px 0;

  svg {
    margin-right: 4px;
  }

  > div:not(:first-child) {
    margin-left: 16px;
  }
}
