.dashlet {
  border: $border-width solid $border-color;
  background-color: $brand-menu;
  padding: $half-gutter;
  height: 100%;
  li {
    border: 0px;
    background-color: lighten($brand-menu, 5%);
    margin-bottom: 2px;
    .icon-todo-type {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: $half-gutter;
      background-color: $brand-info;
      padding: 0.5em;
      width: 2.2em;
      height: 2.2em;
      border-bottom: $border-width solid $border-color;
    }
    span {
      flex: 1 1 0;
      margin-top: auto;
      margin-bottom: auto;
    }
    button {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 10px;
    }
  }
}

.dashlet-starter {
  padding-right: 50px;
  display: flex;
  align-items: center;
}

.dashlet-todo {
  li {
    display: flex;
  }

  > div {
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    padding-bottom: 10px;
  }
}

.dashlet-news {
  display: flex;
  flex-direction: column;
  ul {
    margin-bottom: 0;
    padding: 0 4px;
  }
  .placeholder {
    height: 100%;
  }
}

.dashlet-nexus-login {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: $brand-menu;

  .nexus-login-text {
    font-size: larger;
  }

  .btn {
    margin-top: 0.75em;
  }
}

.dashlet-nexus-account {
  display: flex;
  width: 100%;
  height: 100%;
  padding: $gutter-width;
  align-items: center;
  background-color: $brand-menu;
  border-bottom: $border-color solid $border-width;

  .nexus-name {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    .nexus-name-account {
      font-size: larger;
    }
  }

  .btn {
    width: 48px;
    height: 48px;
    border-radius: 32px;
    padding: 0;
  }
}

.dashlet-go-premium {
  width: 100% !important; 
  position: relative;

  div:not(last-child) {
    z-index: 1;
  }

  .nexus-ad-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(assets/images/ad-banner.png);
    background-size: cover;
    background-position-x: 50%;
    transform: scaleX(-1);
    z-index: 0;
  }

  .gopremium-widget-text {
    width: 55%;
  }
}

.dashlet-announcement {
  display: flex;
  flex-direction: column;

  .list-announcements {
    overflow-y: auto;
    list-style: none;

    padding: 0 4px;

    .announcement-list-item {
      .announcement-description {
        padding: 0 8px;

        .announcement-icon {
          display: flex;
          align-items: center;
          margin-right: 4px;

          svg {
            height: 3em;
            width: 3em;
          }
        }

        .announcement-icon-critical {
          fill: $brand-danger;
        }
      
        .announcement-icon-warning {
          fill: $brand-warning;
        }
      }

      background: $gray-lighter !important;
      padding: 0 10px;
      margin-bottom: 10px !important;
    }

    .announcement-extras {
      justify-content: space-between;
      padding: 8px !important;
      font-size: smaller;
    }
  }
}

.nexus-name-username,
.nexus-login-heading {
  text-transform: uppercase;
  line-height: 1em;
  font-size: 56px;
  font-family: $font-family-headings;
  font-weight: 300;
}

.packery-item {
  padding: floor(($half-gutter / 2));
  // overflow: hidden;

  .packery-buttons {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    z-index: 1;
    > * {
      margin-left: 4px;
    }
  }
  .drag-handle:hover {
    color: $brand-clickable;
  }
}

.packery-drop-placeholder {
  outline: 3px dashed #4C4C4C;
  outline-offset: -6px;
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PGc+PHBhdGggZmlsbD0iIzQ0NDQ0NCIgZD0iTTEyLDI0YzYuNjE3LDAsMTItNS4zODMsMTItMTJTMTguNjE3LDAsMTIsMFMwLDUuMzgzLDAsMTJDMCwxOC42MTcsNS4zODMsMjQsMTIsMjR6IE0xMiwxN0w3LDloMTBMMTIsMTd6Ij48L3BhdGg+PC9nPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 5em;
}

.is-dragging, .is-positioning-post-drag {
  z-index: 5;
}

.lodpi, .hidpi {
  @for $i from 1 through 8 {
    .packery-height-#{$i} {
      height: $dashlet-height * $i
    }
  }
}

.dashlet-title {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  font-family: $font-family-headings;
}

.dashlet-game-title {
  white-space: nowrap;
  text-align: center;
  margin: 0px;
  height: 120px;
  line-height: 100px;
}

.dashlet-recently-managed {
  .list-recently-managed {
    display: flex;
    overflow-x: auto;
    > * {
      margin: 0 8px;
    }
  }
}

.dashlet-announcement {
  .placeholder {
    flex: 1 1 0;
  }
}

.list-announcements-container {
  overflow-y: auto;
}

.dashlet-game-more {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 130px;
  background: linear-gradient(to right,rgba(25, 36, 49, 0), rgba(25, 36, 49, 0.75), rgb(25, 36, 49));
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    text-align: right;
    margin-right: 20px;
  }
}

.list-news {
  overflow-y: auto;
  img {
    max-width: 50%;
    margin: 5px;
  }
}
