#fomod-installer-dialog {
  .modal-dialog {
    width: 80%;
    height: 80%;
  }

  .modal-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .modal-body {
    flex: 1 0%;
    display: flex;
    padding: 10px;
  }

  .modal-footer {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .progress {
    display: inline-block;
    width: 200px;
    height: 16px;
    margin-bottom: 0px;
  }

  .pager {
    margin: 5px 0px;
    li > a {
      color: $text-color;
    }
  }

  .description {
    padding: 15px;
    margin: 15px;
    background-color: $brand-bg;
    overflow-y: auto;
  }
}

.installer-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;

  .zoomable-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
