#login-dialog {
  .nexus-header {
    width: auto;
    height: 4em;
  }

  .login-content {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background: url('assets/images/log-in-bg.png');
    background-repeat: no-repeat;
    background-color: #373737;
  }

  .modal-body {
    text-align: center;
  }

  .login-instructions {
    font-size: 2em;
    font-family: $font-family-headings;
    margin: $gutter-width 0;
  }
}