#diagnostics-files {
  height: 80vh;
  display: flex;
  flex-direction: column;

  > div {
    margin: $half-gutter 0;
    height: 100%;
  }

  .diagnostics-files-error {
    font-size: 'medium';
    margin: '0 1em';
  }
}

.diagnostics-files-sessions-panel {
  height: 100%;
  overflow-y: auto;
  .session-from, .session-to {
    color: $brand-info;
    font-weight: bold;
  }
  .session-crashed {
    color: $brand-danger;
  }
}

.diagnostics-files-log-panel {
  .checkbox {
    margin: 0px $half-gutter;
  }

  .log-list {
    list-style-type: none;
    padding-left: 0px;
    overflow-y: auto;
    height: 100%;
  }

  .log-time {
    color: $text-color-disabled;
  }

  .log-filter-debug, .log-type-debug {
    color: $gray;
  }

  .log-filter-info, .log-type-info {
    color: $brand-info;
  }

  .log-filter-warn, .log-type-warn {
    color: $brand-warning;
  }

  .log-filter-error, .log-type-error {
    color: $brand-danger;
  }
}

.textarea-diagnostics-files {
  width: 100%;
  height: 500px;
  resize: none;
  top: 0;
  bottom: 0;
}

.diagnostics-files-actions {
  .btn {
    padding: 2px;
  }
}
