#diagnostics-files {
  height: 75vh;
  display: flex;
  flex-direction: column;
  gap: 12px;

  > div {
    margin: 0;
    height: 100%;
  }

  .diagnostics-files-error {
    font-size: 'medium';
    margin: '0 1em';
  }
}

.diagnostics-files-sessions-panel {
  height: 100%;
  overflow-y: auto;
  border: 1px solid $border-color;
  border-radius: $border-radius-large;

  .session-from, .session-to {
    color: $brand-info-lighter;
    font-weight: bold;
  }

  .session-crashed {
    color: $brand-danger;
  }

  .list-group-item {
    padding: 8px 12px;
    border: none;
    margin: 0;
  }
}

.diagnostics-files-log-panel {

  gap: 12px;

  .checkbox {
    margin: 0px $half-gutter;
  }

  .log-list {
    list-style-type: none;
    padding-left: 0px;
    overflow-y: auto;
    height: 100%;
    word-break: break-word;
  }

  .log-time {
    color: $gray-darker;
  }

  .log-filter-debug, .log-type-debug {
    color: $brand-info-lighter;
  }

  .log-filter-info, .log-type-info {
    color: $brand-success-lighter;
  }

  .log-filter-warn, .log-type-warn {
    color: $brand-warning;
  }

  .log-filter-error, .log-type-error {
    color: $brand-danger-lighter;
  }
}

.textarea-diagnostics-files {
  width: 100%;
  height: 500px;
  resize: none;
  top: 0;
  bottom: 0;
}

.diagnostics-files-actions {
  .btn {
    padding: 2px;
  }
}
