#history-dialog {
  .modal-dialog {
    width: 60%;
  }
  .modal-body {
    .history-table-container {
      flex: 1 1 0;
      overflow: auto;
    }
    table {
      width: 100%;
    }
    display: flex;
    flex-direction: column;
    height: 60vh;
    overflow: auto;
  }
}

.history-event-line {
  height: 2.5em;
}

.history-event-description {
  padding: 0 1em;
}

.history-event-invalid {
  opacity: 0.8;
}

.history-event-revert {
  .btn {
    width: 100%;
  }
}
