// dialog informing the user about external file changes

#ext-change-dialog {
  .modal-dialog {
    width: 80%;
    height: 80%;
  }

  .modal-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .modal-body {
    flex: 1 0%;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  td {
    padding: 2px;
  }

  select {
    padding: 2px;
    height: initial;
  }
}

.padded-text {
  padding-top: 5px;
  padding-bottom: 5px;
}

.xtd.table-external-change-refchange.cell-name,
.xtd.table-external-change-valchange.cell-name,
.xtd.table-external-change-deleted.cell-name {
  width: 100%;
}

.xtd.table-external-change-refchange.cell-file_count,
.xtd.table-external-change-valchange.cell-file_count,
.xtd.table-external-change-deleted.cell-file_count {
  white-space: nowrap;
}

.table-external-change-refchange .dropdown > button,
.table-external-change-refchange .dropup > button,
.table-external-change-valchange .dropdown > button,
.table-external-change-valchange .dropup > button,
.table-external-change-deleted .dropdown > button,
.table-external-change-deleted .dropup > button {
  padding: 2px 10px;
  border: 0px;
  min-width: 100px;
}

.table-external-change-refchange .dropdown,
.table-external-change-refchange .dropup,
.table-external-change-valchange .dropdown,
.table-external-change-valchange .dropup,
.table-external-change-deleted .dropdown,
.table-external-change-deleted .dropup {
  display: inline-flex;
}

#dropdown-external-change-refchange-action,
#dropdown-external-change-valchange-action,
#dropdown-external-change-deleted-action {
  padding: 2px 5px;
  border: 0px;
  border-left: 1px solid $gray-light;
  min-width: 0px;
}
