.gist-log {
  display: flex;
  flex-direction: column;

  .list-announcements {
    overflow-y: auto;
  }

  li {
    background-color: transparent !important;
    .announce-critical {
      color: $brand-danger;
    }
  
    .announce-warning {
      color: $brand-warning;
    }
  }
}
