// menu that fills its parent control and becomes visible on hover
.hover-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity ease 300ms;

  &:hover {
    opacity: 1;
  }
}


