.icon {
    fill: currentColor;
    height: 1.2em;
    width: 1.2em;
    display: inline-block;
    vertical-align: text-bottom;
}

.icon-border {
    padding: 0.2em 0.25em 0.15em;
    border: solid 0.08em $gray-light;
    border-radius: 0.1em;
}

.icon-spin {
    animation: icon-spin 1s infinite linear;
}

.icon-pulse {
    animation: icon-spin 1s infinite steps(8);
}

.icon-stroke {
    stroke: currentColor;
}

.icon-hollow {
    fill: transparent;
}

@keyframes icon-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.icon-flip-horizontal {
    transform: scale(-1, 1);
}

.icon-flip-vertical {
    transform: scale(1, -1);
}

.icon-nexus {
    color: black;
}

.dropdown-menu {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.icon-drag-handle {
    clip-path: polygon(33% 0, 66% 0, 66% 100%, 33% 100%);
}
