.btngroup-collapsed .btn {
  @extend .btn-embed;
  > .button-text {
    display: none;
  }
}

.menubar {
  display: flex;
  flex-direction: row;
  height: 48px;

  p {
    margin-top: auto;
    margin-bottom: auto;
  }

  .btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4px;
    width: 64px;
    border: 0;
    flex: 1 1 0;
    max-width: 64px;
    margin-left: initial !important;
  }
  .button-text {
    margin-top: 2px;
    margin-bottom: 0px;
    font-size: 0.75em;
    white-space: normal;
    flex: 1 1 0;
    display: flex;
    align-items: center;
  }
}

.icon-menu-positioner {
  z-index: $zindex-menu-layer;
}

.toolbar-dropdown {
  height: 100%;
  >div { 
    svg {
      margin-right: 0;
    }
  }

  .toolbar-dropdown-splitbtn {
    height: 100%;
  }

  .dropdown-toggle {
    height: 100%;
    width: 1em;
  }

  .caret {
    position: absolute;
    right: 4px;
    top: 50%;
  }
}

.window-focused .toolbar-flash-button:not(:hover) {
    animation: pulseColor 6s infinite linear;
    border: $border-width solid $brand-warning;
}
