.layout-container {
  display: flex;
  &.layout-fill {
    width: 100%;
    height: 100%;
  }
}

.layout-flex {
  >.layout-flex-inner {
    display: inline;
    &.layout-flex-fill {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.layout-flex {
  flex: 1 1 0;
  position: relative;
  overflow: hidden;
}

.layout-fixed {
  position: relative;
}
