// a little question-mark button that reveals a lenghtier explanation
// to the context
.more-link {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}

.more-popover .popover-content {
  white-space: pre-wrap;
  // minimal pixel height of the screen is 768 and in the worst case a
  // vertically placed popover has a reference point almost in the middle
  // of the screen so the max height shouldn't be bigger than
  // (768 / 2) - <height of the arrow> - <height of the header>
  max-height: 300px;
  overflow-y: auto;
}

.more-popover .popover-content p {
  margin: 0 0 5px;
  text-indent: 10px;
}
