// Font Families Map
$font-families: (
  'base': ('Inter', sans-serif),
  'heading': ('Inter', sans-serif),
  'mono': ('Menlo', 'Monaco', 'Consolas', 'Courier New', monospace)
);

// Typography Scale Map
$typography: (
  'body-lg-normal': ('font-family': map-get($font-families, 'base'),
    'font-size': 16px,
    'font-style': normal,
    'font-weight': 400,
    'line-height': 150%),
  'body-lg-semibold': ('font-family': map-get($font-families, 'base'),
    'font-size': 16px,
    'font-style': normal,
    'font-weight': 600,
    'line-height': 150%),
  'body-md-normal': ('font-family': map-get($font-families, 'base'),
    'font-size': 14px,
    'font-style': normal,
    'font-weight': 400,
    'line-height': 150%),
  'body-sm-normal': ('font-family': map-get($font-families, 'base'),
    'font-size': 12px,
    'font-style': normal,
    'font-weight': 400,
    'line-height': 137.5%,
    'letter-spacing': 0.3px),
);


// Mixin to apply typography styles
@mixin typography($style) {
  $config: map-get($typography, $style);

  @if $config {
    font-family: map-get($config, 'font-family');
    font-size: map-get($config, 'font-size');
    font-weight: map-get($config, 'font-weight');
    line-height: map-get($config, 'line-height');
    font-style: map-get($config, 'font-style');
    letter-spacing: map-get($config, 'letter-spacing', 1);
  }

  @else {
    @warn "Typography style '#{$style}' not found!";
  }
}

#free-user-dl-dialog {

  --Border-radius-rounded: 4px;

  --Neutral-Strong: #F4F4F5;
  --Neutral-Moderate: #D4D4D8;
  --Neutral-Subdued: #A1A1AA;

  --Neutral-Translucent-Strong: rgba(255, 255, 255, 0.95);

  --Stroke-Neutral-Translucent-Strong: rgba(255, 255, 255, 0.60);
  --Stroke-Neutral-Translucent-Moderate: rgba(255, 255, 255, 0.30);
  --Stroke-Neutral-Translucent-Weak: rgba(255, 255, 255, 0.10);

  --Surface-Translucent-Low: rgba(255, 255, 255, 0.05);
  --Surface-Translucent-High: rgba(255, 255, 255, 0.20);

  --Neutral-800: #29292E;

  --Premium-600: #7C3AED;

  --Violet-300: #C4B5FD;

  hr {
    margin: 8px 0;
    border: none;
    border-top: 1px solid var(--Stroke-Neutral-Translucent-Weak);
    height: 0;
  }

  .modal-dialog {
    width: 700px;
  }

  Button {
    border-radius: var(--Border-radius-rounded);
    padding: 4px 8px;
    margin-left: 8px;
    color: var(--Neutral-Moderate);

    &#cancel-button {
      background-color: transparent;
      border: none;

      &:hover {
        background: var(--Surface-Translucent-High);
        border: none;
        color: var(--Neutral-Strong);
      }
    }

    &#skip-button {
      background-color: transparent;
      border: 1px solid var(--Stroke-Neutral-Translucent-Moderate);

      &:hover {
        background: var(--Surface-Translucent-High);
        border: 1px solid var(--Stroke-Neutral-Translucent-Strong);
        color: var(--Neutral-Strong);
      }
    }

    &#download-mod-button {
      border: 1px solid var(--Stroke-Neutral-Translucent-Moderate);
      background: var(--Neutral-800, #29292E);

      &:hover {
        border: 1px solid var(--Stroke-Neutral-Translucent-Strong);
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), var(--Neutral-800);
      }
    }

    &#get-premium-button {
      color: var(--Neutral-Strong);
      background-color: var(--Premium-600);
      border: none;

      &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), var(--Premium-600);
      }
    }
  }

  div#content-container {
    gap: 12px;
  }

  div#top-row {

    align-items: center;
    padding: 12px;
    gap: 24px;

    border-radius: 8px;
    border: none;
    background: #18181B;

    img#mod-thumbnail {
      width: 72px;
      height: 40px;
      border-radius: 8px;
      overflow: hidden;
    }

    div#mod-name {
      color: var(--Neutral-Moderate, #D4D4D8);

      @include typography('body-lg-semibold');
    }

    div#mod-author {
      color: var(--Neutral-Subdued, #A1A1AA);

      @include typography('body-sm-normal');
    }

    div#mod-count {
      @include typography('body-md-normal');
    }
  }

  div#bottom-row {
    gap: 12px;

    div#free-container {
      padding: 24px;

      border-radius: 8px;
      background: var(--Surface-Translucent-Low, rgba(255, 255, 255, 0.05));
      backdrop-filter: blur(6px);

      .title {
        @include typography('body-md-normal');
        color: var(--Neutral-Subdued);
      }

      .membership-type {
        @include typography('body-lg-semibold');
        color: var(--Neutral-Translucent-Strong);
      }
    }

    div#premium-container {
      padding: 24px;

      border-radius: 8px;
      border: 1px solid #C4B5FD;
      background: linear-gradient(0deg, rgba(46, 16, 101, 0.25) 25.42%, rgba(92, 32, 203, 0.25) 74.58%);
      backdrop-filter: blur(6px);


      .title {
        @include typography('body-md-normal');
        color: var(--Violet-300, #C4B5FD);
      }

      .membership-type {
        @include typography('body-lg-semibold');
        color: var(--Neutral-Translucent-Strong);
      }
    }

  }


}





.nexusmods-action-button {
  display: inline;
  background: $brand-primary;
  padding: 10px 9px;
  margin: 0 8px;

  >svg {
    margin-right: 5px;
    color: transparent;
    --nexus-outline-color: transparent;
    --nexus-orange-color: transparent;
    --nexus-orange-darker-color: transparent;
  }

  >.nexusmods-fake-link {
    color: $white;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.3;
  }
}

.nexus-download-banner {
  background-color: $brand-info;
  text-align: center;
  padding: 4px 0;
  border: $border-width solid $border-color;
  border-bottom: 0;

  .btn {
    margin-left: 8px;
  }
}

.nexus-main-banner {
  background-size: cover !important;
  // no vertical padding. If custom titlebar mode this makes no difference as the
  // banner fills the available vertical space and that produces the exact same padding.
  // In generic titlebar mode, the padding was pretty bad because it forced the entire
  // header area to be wider for non-premium users compared to premium users.
  padding: 0 10px;
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  div:first-child {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: x-large;
  }

  .right-center {
    position: absolute;
    right: 16px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.btn.btn-default:hover {
      background-color: $brand-primary;
      color: $gray-darker;
    }
  }
}

.nexus-premium-banner {
  margin: 0 $half-gutter $half-gutter;
  height: 100%;

  border-top: $border-width solid $border-color;

  >.layout-container {
    align-items: center;
    margin: 0.5em 0;
    font-size: larger;
  }

  .icon {
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
    fill: $brand-primary;
  }

  .nexus-premium-highlight {
    color: $brand-primary;
  }
}

.flex-spread {
  display: flex;
  justify-content: space-between;
}

.padding-hg {
  padding: $half-gutter;
}

.margin-top-hg {
  margin-top: $half-gutter;
}

.free-user-dl-image {
  max-width: 220px;
  max-height: 120px;
  width: auto;
  height: auto;
  margin-right: $half-gutter;
}

.free-user-dl-name {
  font-weight: bold;
  font-size: larger;
  font-family: $font-family-headings;
  margin-bottom: 0.5em;
}

.free-user-dl-uploader {
  display: flex;
  align-items: center;
  font-family: $font-family-headings;

  img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
  }
}

.free-user-dl-summary {
  margin-top: 0.5em;
}

.modid-detail {
  table {
    margin-bottom: 1em;
  }

  tr {
    border-top: 0.5em solid transparent;
  }

  th {
    margin-right: 1em;
  }
}

.nexus-id-valid {
  color: $brand-success;
}

.nexus-id-invalid {
  color: $brand-warning;
}

.modid-detail-control {
  vertical-align: top;
}

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}