// the notification container (invisible)
#notifications {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
  z-index: $zindex-notifications;

  -webkit-scrollbar {
    display: none;
  }
}

// notification
.notification {
  margin-bottom: 1px;
  padding: 5px;
  min-height: 32px;
  display: flex;
  flex-direction: row;

  p {
    display: inline-block;
    flex: 1 1 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  p, svg, .notification-buttons {
    margin-top: auto;
    margin-bottom: auto;
  }

  .notification-buttons {
    button {
      padding: 0px 2px;
      margin: 0px 2px;
    }
  }
}

.notification-enter {
  opacity: 0;

  .notification-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
}

.notification-leave {
  opacity: 1;
  .notification-leave-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
  }
}

#notifications-popover {
  min-width: 200px;
  max-width: 50%;
  z-index: $zindex-notifications;
}

#notifications-button {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  .badge {
    padding: 1px 3px;
    font-size: $font-size-small;
    position: absolute;
    right: 8px;
    top: 8px;
  }
}
