.game-page {
  padding-right: $half-gutter;
}

.game-filter-input {
  padding: 10px 10px;
  margin-bottom: 5px !important;
  border-color: $border-color;
}

#games-picker-tabs {
  .tab-content {
    // needs to be relative for the placeholder to show properly if a tab is empty
    position: relative;
  }
}

.popover-game-info {
  max-width: 800px;
  .popover-content {
    display: flex;
    > * {
      padding: 0 $half-gutter;
    }
    .btn-group-vertical {
      justify-content: space-around;
      border-right: 1px solid $border-color;
      button {
        margin: 4px 0;
      }
    }
  }
}

.game-info-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-row-gap: 4px;
  width: 100%;
}

.game-info-value {
  word-wrap: break-word;
}

.mod-installing {
  background-color: $gray-dark;
}

.mod-installed {
  background-color: $table-bg;
}

#btn-more-mods {
  margin-top: $half-gutter;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.discovery-footer {
  padding: 16px;
  .discovery-footer-label {
    margin-bottom: 8px;
    font-size: smaller;
  }
}

.game-list-item { 
  .btn-embed {
    margin: 0 4px;
  }
}
