#settings-tab {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: $half-gutter;
}

#settings-tab > .tab-content {
  flex: 1;
  overflow-y: auto;
}

.list-game-search {
  .list-group-item {
    display: flex;
    >span {
      flex: 1 1 0;
    }
  }
}
