.container-quicklaunch {
  margin: auto $half-gutter auto 1px;

  >.btn-group {
    >.btn-quicklaunch {
      padding: 2px !important;
      display: inline-flex;
      >div {
        display: flex;
        img {
          width: auto;
          height: auto;
        }
      }
      >.caret {
        margin: auto 0;
      }
    }
  }
  .menu-label {
    flex: 1 1 0;
    margin: auto 0.25em;
  }

  .tool-icon-container {
    width: 64px;
    height: 40px;
    display: flex;
    justify-content: center;

    .tool-icon {
      max-width: 100%;
      max-height: 100%;
      display: block;
    }
  }
  .item-more-games {
    width: 100%;
    line-height: 40px;
  }
}
