@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto'), local('Roboto-Regular'), url(assets/fonts/roboto.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 800;
  src: local('Roboto-Black'), url(assets/fonts/Roboto-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: bold;
  src: local('Roboto-Bold'), url(assets/fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto-Thin'), url(assets/fonts/Roboto-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto-Medium'), url(assets/fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: normal;
  src: local('Roboto-Italic'), url(assets/fonts/Roboto-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto-MediumItalic'), url(assets/fonts/Roboto-MediumItalic.ttf) format('truetype');
}