#starter-dashlet {
  overflow: visible;
  margin: 0;
  height: 100%;

  .media-left {
    margin-top: auto;
    margin-bottom: auto;
  }

  .row>div {
    padding-top: $slim-gutter;
    padding-bottom: $slim-gutter;
  }

  .container-fluid {
    overflow-y: auto;
    height: 100%;
    padding: 0;
  }

  .media-body {
    overflow: visible;
    vertical-align: middle;
    flex-direction: row;
  }
}

.tool-icon {
  width: auto;
  height: 40px;

  &.invalid {
    filter: grayscale(100%);
    color: $gray-darker;
  }

  &.valid {
    color: $brand-info;
  }
}

.tool-button {
  background-color: $brand-bg;
  display: flex;
  flex-direction: row;
  padding: 8px;
  min-width: 128px;

  button {
    @extend .btn-embed;
  }
  span {
    flex: 1 1 0;
    margin: auto 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
  .btn-group {
    display: inline-flex;
    margin: auto 0;
  }

  &.tool-button-primary {
    background-color: $brand-secondary;
  }
}

.tool-bookmark {
  // balance the padding of the tool button
  margin-top: -9px;
}

#add-tool-button {
  padding: $gutter-width * 2 $half-gutter $half-gutter;
  height: 100%;

  display: flex !important;
  background-color: $brand-bg;

  &:hover {
    background-color: $brand-clickable;
  }

  span {
    margin-top: auto;
    margin-bottom: auto;
  }
  .btn-add-tool-text {
    flex: 1 1 0;
  }
  svg {
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    top: 32px;
    left: 50%;
    margin-left: -1.25em;
    }
}

.tool-icon-box {
  display: flex;
  flex-flow: row wrap;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  > * {
    flex: 0 1 30%;
    min-width: 150px;
    margin: 8px;
  }
}

.btn-add-tool {
  margin: $half-gutter 0;
}

.env-edit-buttons {
  position: absolute;
  top: 3px;
  right: 3px;
}

#tool-edit-dialog {
  .input-group {
    width: 100%;
  }
}
