#starter-dashlet {
  margin: 0;
  height: 100%;
  width: 100%;

  .media-left {
    margin-top: auto;
    margin-bottom: auto;
  }

  .row>div {
    padding-top: $slim-gutter;
    padding-bottom: $slim-gutter;
  }

  .container-fluid {
    overflow-y: auto;
    height: 100%;
    padding: 0;
  }

  .media-body {
    vertical-align: middle;
    flex-direction: row;
    position: relative;
  }
  
  .media-right {
    display: flex;
    align-items: center;

    .refresh-button {
      @extend .btn-embed;
      position: absolute;
      top: $half-gutter;
      right: $half-gutter;
    }
  }
}

.tool-icon {
  width: auto;
  height: 30px;

  &.invalid {
    filter: grayscale(100%);
    color: $gray-darker;
  }

  &.valid {
    color: $brand-info;
  }
}

svg.tool-icon {
  width: 30px;
}

.tool-button {
  background-color: $brand-bg;
  display: flex;
  flex-direction: row;
  padding: 8px;
  min-width: 128px;

  &:hover {
    background-color: $brand-primary;
  }

  button {
    @extend .btn-embed;
  }
  span {
    flex: 1 1 0;
    margin: auto 0.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
  .btn-group {
    display: inline-flex;
    margin: auto 0;
  }

  &.tool-button-primary {
    background-color: $brand-secondary;
  }
}

.tool-bookmark {
  // balance the padding of the tool button
  margin-top: -9px;
}

#add-tool-button {
  // top padding needs to be large enough to fit the icon
  // and then some padding around it
  padding: 5em $half-gutter $half-gutter;
  height: 100%;

  display: flex !important;
  background-color: $brand-bg;

  &:hover {
    background-color: $brand-clickable;
  }

  span {
    margin-top: auto;
    margin-bottom: auto;
  }
  .btn-add-tool-text {
    flex: 1 1 0;
  }
  svg {
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    top: 1em;
    left: 50%;
    margin-left: -1.25em;
    }
}

.tool-icon-box {
  display: flex;
  flex-flow: row wrap;
  overflow-y: auto;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  width: 100%;
  > * {
    flex: 0 1 30%;
    min-width: 150px;
    margin: 2px;
  }
}

.btn-add-tool {
  margin: $half-gutter 0;
}

.env-kvpair {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tool-edit-dialog {
  .modal-dialog {
    width: 60vw;
  }
  .input-group {
    width: 100%;
  }
  .col-sm-3 > .control-label {
    width: 100%;
  }
  .toggle-container {
    padding-left: $gutter-width;
  }
}
