.table-actions {
  display: inline-flex;
  .btn {
    @extend .btn-embed;
    @extend .hcenter;
  }
}

.table-selected {
  background-color: $brand-secondary;
}

.table-highlighted {
  background-color: $brand-selected;
}

.table-main-pane {
  overflow-y: auto;
  flex: 1 1 0%;

  .xthead {
    color: $text-color;
    background-image: linear-gradient($brand-menu, $brand-menu), 
          linear-gradient($table-header-border-color,$table-header-border-color);
    background-clip: content-box, padding-box;

    .xth {
      padding: $table-header-border-width 0px $table-header-border-width !important;
      height: 100%;

      &:first-child {
        padding-left: $table-header-border-width !important;
      }

      &:last-child {
        padding-right: $table-header-border-width !important;
      }

      > div {
        height: 100%;
        min-height: 48px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 16px 4px;
        > :not(first-child) {
          margin-top: 5px;
        }
      }
    }
  }

  .xtbody {
    background-color: $brand-menu;
  }
}

.table-details-pane {
  height: 100%;
  overflow-y: auto;
  padding: 0px;
  min-width: 32px;
  background-color: $brand-menu;
  transition: max-width 300ms;
  border: 1px solid $brand-secondary;
  border-right-width: 0px;
  &.open {
    max-width: 30%;
  }
  &.closed {
    // overruled by min-width
    max-width: 0%;
    // offset the right offset to align the button
    // with the right border
    margin-right: -10px;
  }

  .form-control-static {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 0;
  }
}

.table-layout {
  margin: 10px;
}

.table-form-details {
  flex: 1 1 0%;
  padding: 5px;
  min-width: 250px;
  &.table-form-details-show {
    overflow-y: auto;
  }
  &.table-form-details-hide {
    overflow-y: hidden;
  }
}

.table-header {
  margin-right: $scrollbar-width;
  transform-style: preserve-3d;
}

.btn-table-filter {
  @extend .btn-embed;
  height: 100%;
}

.group-addon-btn {
  padding: 0px 3px;
  width: 26px;

  button {
    padding: 0px;
    width: 100%;
  }
}

.table-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
}

.textarea-details {
  width: 100%;
  resize: none;
  min-height: 100px;
}
