.table-actions {
  display: inline-flex;
  .btn {
    @extend .btn-embed;
    @extend .hcenter;
  }
}

.table-selected {
  background-color: $brand-selected;
}

.table-highlighted {
  background-color: $brand-secondary;
}

.table-main-pane {
  overflow-y: auto;
  flex: 1 1 0%;
  margin-right: $half-gutter;

  .xthead {
    .xth {
      padding: $table-header-border-width 0px $table-header-border-width !important;
      height: 100%;

      &:first-child {
        padding-left: $table-header-border-width !important;
      }

      &:last-child {
        padding-right: $table-header-border-width !important;
      }

      > div {
        height: 100%;
        // min-height: 48px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 4px 4px;
      }
    }
  }

  .xtbody {
    background-color: $brand-menu;
    .xtr div {
      padding: 4px 0px;
    }
  }
}

.table-details-pane {
  contain: content;
  height: 100%;
  overflow-y: auto;
  padding: 0px;
  background-color: $brand-menu;
  transition: max-width 300ms;
  border-right-width: 0px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  &.open {
    max-width: 50%;
    border: 1px solid $border-color;
  }
  &.closed {
    // overruled by min-width
    max-width: 0%;
    border: 0px;
  }

  .form-control-static {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 0;
  }
}

.table-layout {
  margin: 10px;
}

.table-form-details {
  flex: 1 1 0%;
  padding: 5px;
  min-width: 250px;
  &.table-form-details-show {
    overflow-y: auto;
  }
  &.table-form-details-hide {
    overflow-y: hidden;
  }
}

.table-header {
  margin-right: $scrollbar-width;
  transform-style: preserve-3d;
}

.btn-table-filter {
  @extend .btn-embed;
  height: 100%;
}

.group-addon-btn {
  padding: 0px 3px;
  width: 26px;

  button {
    padding: 0px;
    width: 100%;
  }
}

.table-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
}

.textarea-details {
  width: 100%;
  resize: none;
  min-height: 100px;
}
