.todo-search {
  background-color: $brand-success !important;
}

.todo-settings {
  background-color: $brand-info !important;
}

.todo-more {
  background-color: $brand-secondary !important;
}

.todo {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 105px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 0.75em;
  text-align: center;
  padding: 10px 5px;
  max-width: 140px;
  min-width: 110px;

  > svg {
    width: 2.5em;
    height: 2.5em;
    margin-bottom: 0.5em;
  }

  .todo-text {
    font-size: larger;
    text-align: center;
  }

  .icon-todo-type {
    width: 2em;
    height: 2em;
  }

  .btn-dismiss {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }
}
