$brand-primary: #ad651c;
$brand-highlight: #0099ff;
$brand-success: #326500;
$brand-info: #005c9a;
$brand-warning: #ff7300;
$brand-danger: #ad0000;
$brand-bg: #060807;
$brand-menu: #1c1c1c;
$brand-secondary: #ad651c;
$brand-clickable: #ad651c;
$text-color: #ffffff;
$text-color-disabled: #808080;
$link-color: #ffc96a;
$font-size-base: 13px;
$hidpi-scale-factor: 100%;
//$font-family-base: "Roboto";
//$font-family-headings: "Montserrat";
$gutter-width: 16px;
$dark-theme: true;

$gray: #595959;

$titlebar-height: 52px !default;
$titlebar-rows: 1 !default;