[Desktop Entry]
Name=Vortex
GenericName=Mod Manager
# TODO: Adjust this text. Placeholder.
Comment=Mod manager for PC games from Nexus Mods
Comment[en_US]=Mod manager for PC games from Nexus Mods
Exec=run.sh %u
Icon=com.nexusmods.vortex
Terminal=false
Type=Application
Categories=Game;Utility;
MimeType=x-scheme-handler/nxm;
StartupWMClass=Vortex
StartupNotify=true
Keywords=mod;mods;modding;nexus;games;skyrim;fallout;
