$white: #ffffff;
$black: #000000;
$gray-darker: #dee2e6;
$gray-dark: #dddddd;
$gray: #a9a9a9;
$gray-light: #4c4c4c;
$gray-lighter: #2a2c2b;

$brand-primary: #d78f46;
$brand-highlight: #00c1ff;
$brand-success: #86b951;
$brand-info: #00c1ff;
$brand-warning: #ff7300;
$brand-danger: #ff1c38;
$border-color: rgb(128, 128, 128);

$brand-bg: $gray-lighter;
$brand-menu: $gray-light;
$brand-secondary: $brand-primary;
$brand-clickable: $brand-primary;

$text-color: $white;
$text-color-disabled: darken($text-color, 40%);
$link-color: $brand-primary;
$link-hover-color: darken($link-color, 15%);
