$white: #ffffff;
$black: #000000;
$gray-darker: #dee2e6;
$gray-dark: #dddddd;
$gray: #a9a9a9;
$gray-light: #4c4c4c;
$gray-lighter: #2a2c2b;

$brand-primary: #d78f46;
$brand-highlight: #00c1ff;
$brand-success: #86b951;
$brand-info: #00c1ff;
$brand-warning: #ff7300;
$brand-danger: #ff1c38;
$border-color: #808080;

$brand-bg: #2a2c2b;
$brand-menu: #4c4c4c;
$brand-secondary: #d78f46;
$brand-clickable: #d78f46;

$text-color: #ffffff;
$text-color-disabled: #999999;
$link-color: #d78f46;
$link-hover-color: #ab6926;
