.cell-loadOrder, .header-loadOrder {
  text-align: center;
}

.cell-modIndex, .header-loadOrder {
  text-align: center;
}

.cell-category {
  white-space: nowrap;
}

#table-gamebryo-plugins {
  // prevent word wrap
  .table-header-cell {
    white-space: nowrap;
  }
  .header-flags {
    // need a bit of space so the dropdown menu is readable
    min-width: 150px;
  }
  .header-name {
    // use up remaining space
    width: 100%;
  }
}

#dropdown-gamebryo-plugins-enabled {
  padding: 2px 5px;
  border: 0px;
  border-left: 1px solid $gray-light;
  min-width: 0px;
}

.btn-gamebryo-plugins-enabled-enabled, .toggle-gamebryo-plugins-enabled-enabled {
  background-color: $brand-success;
}

.btn-gamebryo-plugins-enabled-disabled, .toggle-gamebryo-plugins-enabled-disabled {
  background-color: $gray;
}

.rule-readonly {
  font-style: italic;
}

.userlist-existing-rules {
  overflow-y: auto;
  max-height: 300px;
}

.userlist-add-controls {
  display: flex;
  justify-content: space-between;

  > .Select {
    width: 150px;
  }
}

.loot-message-list .alert {
  max-width: 300px;
}
