.cell-screenshot .screenshot-canvas {
  max-height: 56px;
  width: auto;
  border: $border-width solid $border-color;
}

#table-savegames {
  // prevent word wrap
  .table-header-cell {
    white-space: nowrap;
  }
  .header-name,
  .header-location {
    // use up remaining space
    width: 50%;
  }
}
