@layer components {
    .nxm-checkbox-field {
        display: flex;
        column-gap: calc(var(--spacing) * 2);

        &:disabled,
        &.nxm-checkbox-disabled {
            opacity: 0.4;
            cursor: not-allowed;
        }

        &.nxm-checkbox-checked {
            & .nxm-checkbox {
                background-color: var(--color-neutral-strong);

                & .nxm-checkbox-icon {
                    opacity: 1;
                }
            }
        }

        &:not(.nxm-checkbox-disabled) {
            cursor: pointer;

            &:hover {
                & .nxm-checkbox-label {
                    color: var(--color-neutral-strong);
                }

                &:not(.nxm-checkbox-checked) {
                    & .nxm-checkbox {
                        background-color: var(--color-surface-translucent-low);
                    }
                }
            }
        }

        &.nxm-checkbox-error {
            & .nxm-checkbox {
                border-color: var(--color-danger-strong);
            }
        }

        .nxm-checkbox-input {
            opacity: 0;
            position: absolute;
            pointer-events: none;
        }

        .nxm-checkbox {
            position: relative;
            width: calc(var(--spacing) * 4);
            height: calc(var(--spacing) * 4);
            border-radius: calc(var(--spacing) * 1);

            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;

            color: var(--color-neutral-inverted);
            background-color: var(--color-surface-low);
            border: 1px solid var(--color-stroke-strong);

            transition-property:
                color, background-color, border-color, outline-color, fill,
                stroke, opacity, pointer-events;
            transition-timing-function: var(
                --default-transition-timing-function
            );
            transition-duration: var(--default-transition-duration);

            & .nxm-checkbox-icon {
                opacity: 0;
                transition-property: opacity;
                transition-timing-function: var(
                    --default-transition-timing-function
                );
                transition-duration: var(--default-transition-duration);
            }
        }

        .nxm-checkbox-label {
            flex-grow: 1;
            font-size: var(--text-xs);
            line-height: var(--leading-snug);
            letter-spacing: var(--tracking-wide);
            color: var(--color-neutral-moderate);
        }
    }
}
