/* Layer order must be declared before any @layer blocks - must match tailwind-v4.css */
@layer theme, base, bootstrap-reset, bootstrap-components, bootstrap-override, modern-overrides, components, utilities;

@import "variables.scss";
@import "details.scss";
@import "bootstrap-override.scss";
@import "vortex/globals";
@import "vortex/progressbar";

html,
body,
#content {
    height: 100%;
    margin: 0;
    > svg {
        display: none;
    }
}

#loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $text-color;
}

#loading-screen .progressbar {
    width: 50%;
    .progressbar-labels > *:last-child {
        width: initial;
    }
}
