@import 'bootstrap.min.css';

/* ==========================================
	Variables & mixins
========================================== */
/* Colours */
$primary-color: #57a5cc;
$primary-dark: darken($primary-color,15%);
$copy-color: #fff;
$copy-color-dark: #565656;
$grey-light: #383838;
$grey: #2d2d2d;
$grey-dark: #202020;
$green: #4da22c;
$green-dark: darken($green, 15%);
/* Fonts */
$font-title: 'bebas_neuebold';
$light: 300;
$semibold: 500;
$bold: 700;
/* Sizes */
$menu-width: 155px;

/* Mixins */
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

@mixin transition($args...) {
	transition: $args;
}

@mixin clearfix() {
	&::after {
		display: block;
		content: "";
		clear: both;
	}
}

@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

/* ==========================================
	Global
========================================== */
body {
	font-size: 13px;
	color: $copy-color;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #606060;
}

#desktop {
    position: relative;
    height: 100vh;
	background: #606060 url(../images/background-desktop.jpg) no-repeat center center;
	background-size: cover;
}

#fake-app {
	width: 1287px;
	height: 863px;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	background: #606060 url(../images/background-fake-app.png) no-repeat top left;
}

#nmm {
    width: 1285px;
    height: 831px;
	display: flex;
    position: relative;
    top: 31px;
    left: 1px;
	background: #4e4e4e url(../images/background-active-game.jpg) no-repeat 0 0;
	background-size: cover;
}

/* Interactive */
#{$a-tags} {
	@include transition(color .25s, background .25s);
	color: $copy-color;
	text-decoration: none !important;
}

#{$a-tags-hover} {
	color: $primary-color;
}

button,
.btn {
    font-size: 11px;
    padding: 6px 10px;
	border-radius: 0;
	border: 0;
	cursor: pointer;
	color: $copy-color;
	@include transition(background .3s);
	background: $primary-color;
}

button:hover,
.btn:hover {
	background: $primary-dark;
}

.btn-suggest {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: $bold;
}

/* BS4 overrides */
.row {
	margin-right: -10px;
	margin-left: -10px;
}

.col {
	padding-right: 10px;
	padding-left: 10px;
}

/* ==========================================
	Type
========================================== */
@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: $font-title;
	font-size: 28px;
	text-transform: uppercase;
}

h2 {
	font-weight: $light;
	font-size: 20px;
}

h3 {
	font-weight: $light;
	font-size: 18px;
}

/* ==========================================
	Icons
========================================== */
.icon {
	width: 22px;
	height: 22px;
	position: relative;
	display: inline-block;
	stroke-width: 0;
	stroke: green;
	fill: #fff;
	&.icon-arrow {
		width: 10px;
		height: 7px;
	}
}

/* ==========================================
	Menu
========================================== */
#menu {
	width: $menu-width;
    position: relative;
	overflow: hidden;
	background: $grey;
	ul {
		padding: 0;
		list-style: none;
		li {
			@include transition(box-shadow .3s, background .3s);
			a {
				width: $menu-width;
				overflow: hidden;
				display: block;
				position: relative;
				padding: 10px;
				border-bottom: 1px solid $grey-light;
				text-decoration: none;
			}
			#{$a-tags} {
				color: #fff;
			}
			&:hover {
				background-color: $grey-light;
			}
		}
		li.menu-selected {
			box-shadow: inset -4px 0 0 $primary-color;
			background-color: $grey-light;
		}
	}
	&.menu-toggle {
		li.menu-selected {
			box-shadow: inset -2px 0 0 $primary-color;
		}
}
	figure {
		position: relative;
		float: left;
		margin: 0;
		img {
			width: 32px;
			height: 32px;
		}
	}
	.menu-label {
		position: absolute;
		top: 10px;
		margin: 0 0 0 6px;
	}
	.icon {
		position: relative;
		top: 0;
		left: 0px;
		float: left;
	}
	.menu-minimize {
		width: 100%;
		z-index: 2;
		color: #fff;
		font-size: 10px;
		border: 0;
		padding: 1px 6px;
		position: absolute;
		bottom: 0;
		cursor: pointer;
		background: $primary-color;
		&:hover {
			background: $primary-dark;
		}
		.icon-arrow {
			width: 9px;
			height: 5px;
			top: -1px;
			float: none;
			transform: rotate(90deg);
		}
	}
	.menu-launch {
		@include clearfix;
		width: 100%;
		cursor: pointer;
		position: relative;
		color: #fff;
		padding: 9px;
		overflow: hidden;
		background: $primary-color;
		.menu-launch-labels {
		    position: absolute;
			display: inline-block;
		    margin-top: -3px;
			padding: 0 0 0 7px;
			.menu-launch-label,
			.menu-launch-app {
				display: block;
				position: relative;
			}
			.menu-launch-label {
				font-size: 11px;
				top: 3px;
			}
			.menu-launch-app {
				font-size: 13px;
				font-weight: $bold;
			}
		}
		.menu-launch-drop {
			@include transition(background .3s);
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			border: 0;
			border-top-color: $primary-dark;
			border-top-style: solid;
			border-left: 1px solid $primary-dark;
			padding: 10px;
			.icon-arrow {
				top: 13px;
			}
			&.menu-launch-drop-small {
				width: 100%;
				height: 10px;
				opacity: 0;
				padding: 0;
				top: auto;
				left: 0;
				bottom: -10px;
				right: auto;
				border: 0;
				border-top: 1px solid $primary-dark;
				.icon-arrow {
					width: 9px;
					height: 5px;
					float: none;
					top: -8px;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			&:hover {
				background: $primary-dark;
			}
		}
	}
}

/* ==========================================
	Search
========================================== */
#search-global {
	margin-bottom: 25px;
	background: #fff url(../images/icon-search.svg) no-repeat 11px center;
	background-size: 15px 15px;
	&.form-control {
		padding: 10px 10px 10px 35px;
		font-size: 14px;
		color: $copy-color-dark;
		background-color: #fff;
		border: 1px solid #fff;
		border-radius: 0;
	}
}

/* ==========================================
	Modals
========================================== */
.modal {
	color: $copy-color;
	h2 {
		font-size: 15px;
		font-weight: $semibold;
		margin: 0;
	}
	.btn-close {
		width: 20px;
		height: 20px;
		padding: 0;
		position: relative;
		.icon {
			@include center;
			width: 10px;
			height: 10px;
		}
	}
	.modal-header {
		padding: 13px;
		border-bottom: 1px solid green;
		background-color: red;
	}
	.modal-content {
		border: 0;
		border-radius: 0;
		box-shadow: 0px 3px 20px rgba(0,0,0,0.5);
		background-color: red;
	}
	.modal-footer {
		padding: 10px;
		border-top: 1px solid green;
	}
	.modal-dialog {
		min-height: calc(100vh - 60px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: auto;
	}
}

/* ==========================================
	Forms
========================================== */
form {
	input.form-control {
		padding: 6px;
		font-size: 13px;
		color: $copy-color;
		border: 0;
		border-radius: 0;
	}
	label {
		font-weight: $semibold;
		font-size: 14px;
	}
}

/* ==========================================
	Content
========================================== */
#content {
	padding: 20px 20px 0 20px;
	&.container {
		flex: 1;
		overflow-y: scroll;
	}
	.section-head {
		@include clearfix;
		position: relative;
		padding-bottom: 12px;
		margin-bottom: 15px;
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}
	h1 {
		margin: 0;
		float: left;
	}
	.btn-suggest {
		float: right;
		position: relative;
	    top: 10px;
	}
}

/* Games */
ul.tiles {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
	list-style: none;
	li {
		flex: 25%;
		flex-grow: 0;
		position: relative;
		margin-bottom: 20px;
		.tile {
			@include transition(box-shadow .25s);
			width: 100%;
			position: relative;
			padding-bottom: 45%;
			box-shadow: 0px 2px 15px rgba(0,0,0,0.25);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			background-color: $grey-dark;
			&:hover {
				box-shadow: 0px 2px 20px rgba(0,0,0,.6);
			}
			&.tile-selected:before {
				@include pseudo;
				width: calc( 100% + 8px );
				height: calc( 100% + 8px );
				border: 2px solid $green;
				top: -4px;
				left: -4px;
			}
			&.tile-selected:after {
				@include pseudo;
				content: "Currently modding";
				font-size: 11px;
				bottom: -4px;
				right: -4px;
				padding: 2px 5px;
				background: $green;
			}
			.tile-game-name {
				width: 100%;
				padding: 15px 9px 7px 9px;
				position: absolute;
				bottom: 0;
				left: 0;
				background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%);
				background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
				background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
			}
			&.game-none {
				.tile-message {
					max-width: 125px;
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					padding: 0 0 0 15px;
				}
				p {
					margin: 0;
					line-height: 1.25;
				}
				.tile-btn {
					display: inline-block;
					position: relative;
					top: auto;
					right: auto;
					margin: 6px 0 0 0;
					.tile-btn-label {
						padding-left: 0;
					}
				}
			}
		}
	}
	&:last-of-type {
		margin-bottom: 0;
	}
}

.tile-btn {
	@include transition(background .25s);
	height: 20px;
	color: $copy-color;
	position: absolute;
	cursor: pointer;
    top: 0;
    right: 0;
    font-size: 11px;
    padding: 2px 6px;
	background: $primary-color;
	&:hover {
		color: $copy-color;
		background-color: $primary-dark;
	}
	.tile-btn-label {
		padding-left: 20px;
	}
	.tile-btn-icon {
		@include transition(background .25s);
		display: inline-block;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 0;
		left: 0;
		background: $primary-dark;
		.icon {
			width: 12px;
			height: 12px;
			@include center;
		}
	}
	&.tile-btn-green {
		background: $green;
		.tile-btn-icon {
			background: $green-dark;
		}
		&:hover {
			background-color: $green-dark;
		}
	}
}

.test {
	display: block;
}