@import "react-select-variables";
@import "react-select/scss/default";
@import "react-select/scss/menu";
@import "react-select/scss/mixins";
@import "react-select/scss/multi";
@import "react-select/scss/spinner";

.Select-control {
  display: inline-table;
}

.Select-placeholder,
.Select--single>.Select-control .Select-value {
  // leave room for clear and arrow symbol
  margin-right: 3em;
  display: flex;
  align-items: center;
}

.Select-input {
  margin-top: 0;
}