/**
 * styles for custom controls
 */

#notifications {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
  z-index: 1040;
}

#notifications::-webkit-scrollbar { 
  display: none; 
}

.notification {
  margin-bottom: 1px;
  padding: 5px;
  min-height: 32px;
}

.notification p {
  display: inline-block;
}

.notification-buttons {
  float: right;
}

.notification-buttons button {
  padding: 0px 2px;
  margin: 0px 2px;
}

#main-toolbar {
  background-color: $brand-menu;
  height: 48px;
  display: flex;
}

#main-toolbar button {
  background-color: transparent;
  border-width: 0px;
  color: #cfd8dc;
  padding: 8px;
  &:hover {
    background-color: $gray-dark;
  }
}

#main-toolbar button > svg {
  width: 24px;
  height: 24px;
}

#main-nav-sidebar {
  background-color: $brand-menu;
  transition: max-width $expand-sidebar-delay;
}

#main-nav-container {
  flex-direction: column;
  height: 100%;
  display: flex;
  overflow-y: auto;
  // padding to accomodate the absolute-positioned minimize-button
  padding-bottom: 24px;
}

#main-window-pane {
  background-color: $brand-bg;
  color: $text-color;
}

#main-footer {
  background-color: $brand-menu;
}

.sidebar-expanded {
  max-width: 500px;
}

.sidebar-compact {
  min-width: 0px;
  max-width: 48px;
}

.menu-label {
  transition: opacity $expand-sidebar-delay, min-width $expand-sidebar-delay;
  vertical-align: middle;
}

.sidebar-expanded .menu-label {
  opacity: 1;
}

.sidebar-compact .menu-label {
  opacity: 0;
  width: 0;
  overflow-x: visible;
  min-width: 0;
  display: inline-block;
}

.sidebar-expanded .badge {
  margin-left: 0px;
  transition: margin-left $expand-sidebar-delay, padding $expand-sidebar-delay, font-size $expand-sidebar-delay;
}

.sidebar-compact .badge {
  padding: 3px;
  font-size: $font-size-small;
  margin-left: -18px !important;
  transition: margin-left $expand-sidebar-delay, padding $expand-sidebar-delay, font-size $expand-sidebar-delay;
}

.sidebar-expanded .icon-spinner {
  margin-left: 5px;
  transition: margin-left $expand-sidebar-delay, height $expand-sidebar-delay;
}

.sidebar-compact .icon-spinner {
  margin-left: -12px;
  height: 12px;
  transition: margin-left $expand-sidebar-delay, height $expand-sidebar-delay;
}

.nav-pills > li > a {
  color: #cfd8dc;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 25px 10px 10px;
  -webkit-user-drag: none;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: $gray-dark;
}

.nav-pills.nav-stacked > li.active > a,
  .nav-pills.nav-pills.nav-stacked > li.active > a:hover,
  .nav-pills.nav-stacked > li.active > a:focus {
  border-left: 4px solid $brand-warning;
  // regular padding - border
  padding-left: 6px;
}

.nav-pills>li>a>.svg-icon {
  height: initial;
}

.about-panel {
  height: 100%;
  max-height: 200px;
  overflow-y: scroll;
}

.btn-version-column {
  padding: 1px 1px;
  border: 0px;
  color: currentColor;
  background-color: transparent;
  &:hover {
    color: $link-hover-color;
    background-color: initial;
  }
  &:active {
    color: $link-hover-color;
    background-color: initial;
  }
  &:focus {
    color: $link-hover-color;
    background-color: initial;
  }
}

.btn-embed {
  padding: 0px;
  border: 0px;
  color: currentColor;
  background-color: transparent;
  &:hover {
    color: $link-hover-color;
    background-color: initial;
  }
  &:active {
    color: $link-hover-color;
    background-color: initial;
  }
  &:focus {
    color: $link-hover-color;
    background-color: initial;
  }
}

btn-default {
  &:hover {
    background-color: lighten($brand-secondary, 20%);
  }
  &:active {
    background-color: darken($brand-secondary, 20%);
  }
}

.logout-avatar {
  color: red;
}

.highlight-base {
  padding: 1px 5px;
  border: 0px;
  color: $gray-darker;
  &:hover {
    color: $link-hover-color;
  }
  &:active {
    color: $link-hover-color;
  }
  &:focus {
    color: $link-hover-color;
  }
}

.mod-updating-warning {
  color: $brand-warning;
}

.mod-updating-download {
  color: $brand-warning;
}

.mod-updating-ban {
  color: $brand-danger;
}

.mod-updating-bug {
  color: $brand-danger;
}

.highlight-1 {
  background-color: #ff0000;
  &:hover {
    background-color: #ff0000;
  }
  &:active {
    background-color: #ff0000;
  }
  &:focus {
    background-color: #ff0000;
  }
}

.highlight-2 {
  background-color: #03a9f4;
  &:hover {
    background-color: #03a9f4;
  }
  &:active {
    background-color: #03a9f4;
  }
  &:focus {
    background-color: #03a9f4;
  }
}

.highlight-3 {
  background-color: #4caf50;
  &:hover {
    background-color: #4caf50;
  }
  &:active {
    background-color: #4caf50;
  }
  &:focus {
    background-color: #4caf50;
  }
}

.highlight-4 {
  background-color: #cddc39;
  &:hover {
    background-color: #cddc39;
  }
  &:active {
    background-color: #cddc39;
  }
  &:focus {
    background-color: #cddc39;
  }
}

.highlight-5 {
  background-color: #ff9800;
  &:hover {
    background-color: #ff9800;
  }
  &:active {
    background-color: #ff9800;
  }
  &:focus {
    background-color: #ff9800;
  }
}

.highlight-default {
  background-color: transparent;
  &:hover {
    background-color: transparent;
  }
  &:active {
    background-color: transparent;
  }
  &:focus {
    background-color: transparent;
  }
}


.progress-embed {
  // using max-height here is a bit of a hack because with react
  // bootstrap I apparently can't replace the .progress class,
  // I can just expand it, so if I set height here it has no effect
  max-height: 16px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  background: $gray-light;
  margin-bottom: 0px;
  border: 1px;
  border-style: solid;
}

// container for progress bars in the footer
.progress-container {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
}

.download-actions>.btn {
  @extend .btn-embed;
}

.download-actions>.btn:hover {
  background-color: $gray;
}

.table-actions>.btn {
  @extend .btn-embed;
}

.inline-form {
  display: flex;
  flex-grow: 1;
}

.notification-enter {
  opacity: 0;
}

.notification-enter.notification-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.notification-leave {
  opacity: 1;
}

.notification-leave.notification-leave-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.input-button-enter {
  opacity: 0.1;
}

.input-button-enter.input-button-enter-active {
  transition: opacity 500ms ease-in;
}

.notification-leave {
  opacity: 1;
}

.input-button-leave.input-button-leave-active {
  transition: opacity 500ms ease-out;
}

.mainpage-enter {
  opacity: 0;
}

.mainpage-enter.mainpage-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.mainpage-leave {
  opacity: 1;
}

.mainpage-leave.mainpage-leave-active {
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.mainpage-header {
  flex: 1 1 0%;
  display: flex;
  border: $brand-secondary solid;
  border-width: 0px 1px;
}

.flex-fill {
  flex: 1 1 0%;
}

.mod-installing {
  background-color: $gray-dark;
}

.mod-installed {
  background-color: $table-bg;
}

.table-selected {
  background-color: $brand-selected;
}

.game-thumbnail {
  @extend .panel;
  float: left;
  position: relative;
  margin: 16px;
  box-shadow: 4px 4px 8px black;
  border-radius: 4px;
  background-color: $brand-menu;
}

.game-thumbnail-primary {
  background-color: $brand-selected;
}

.game-thumbnail-default {
  @extend .panel-default;
  border-color: $brand-secondary;
}

.game-thumbnail-body {
  @extend .panel-body;
  width: 180px;
  height: 140px;
  text-align: center;
  padding: 4px;
}

.game-thumbnail-img {
  max-width: 170px;
  max-height: 100px;
}

.game-thumbnail-img-list {
  max-width: 150px;
  max-height: 50px;
}

.game-thumbnail-container-list {
  width: 100px;
  min-width: 50px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.game-thumbnail-bottom {
  left: 0px;
  bottom: 0px;
  width: 100%;
  white-space: nowrap;
  display: flex;
  position: absolute;
  padding: 0px 2px;

  &div {
    margin: auto 0px;
  }
}

.game-thumbnail-buttons {
  margin-top: auto;
  margin-bottom: auto;
}

.game-thumbnail-buttons * {
  display: inline-block;
}

.game-thumbnail-name { 
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
}

.game-list-selected {
  background-color: $brand-selected;
}

.welcome-game-logo {
  max-height: 200px;
}

.attribute-icon-enabled {
  color: limegreen;
}

.attribute-icon-disabled {
  color: dimgray;
}

.progress {
  height: 32px;
}

.media {
  overflow: visible;
}

.icon {
  fill: currentColor;
  height: calc(#{$font-size-base} + 3px);
  width: calc(#{$font-size-base} + 3px);
  display: inline-block;
  vertical-align: middle;
  margin: 4px;
}

.tool-icon {
  width: auto;
  height: auto;
  max-width: 32px;
  max-height: 32px;
}

.tool-button-primary .tool-icon {
  max-width: 100%;
  max-height: 100%;
}

.tool-icon.invalid {
  filter: grayscale(100%);
  color: $gray-darker;
}

.tool-icon.valid {
  color: $brand-info;
}

.tool-dropdown {
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-flex;
  flex-direction: row;
  float: left;
}

.tool-dropdown .tool-button-primary {
  width: 96px;
  height: 96px;
}

.tool-dropdown .tool-button {
  flex: 1;
  padding: 0px;
  width: 48px;
  height: 48px;
}

.tool-dropdown .dropdown-toggle {
  flex: 0;
  padding-left: 2px !important;
  padding-right: 2px !important;
  border-left-color: $gray-lighter;
  border-left-style: solid;
  border-left-width: 1px;
}

.react-context-menu-link.disabled {
  color: $gray-light;
}

.dropzone-url {
  width: "calc(100% - 20px)";
  height: 100px;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  border-width: 2px;
  border-style: dashed;
  border-color: $gray;
}

.dropzone-url.hover-valid {
  border-style: solid;
  border-color: $brand-success;
}

.dropzone-url.hover-invalid {
  border-style: solid;
  border-color: $brand-warning;
}

.game-start-btn {
  width: 48px;
  height: 48px;
}

.radio, .checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
}

.button-group {
  text-align: right;
}

.fake-link {
  color: currentColor;
}

.fake-link:hover {
  color: currentColor;
}

.feedback-awesome {
  padding: 4px;
}

.form-horizontal .has-feedback label ~ .form-control-feedback {
  top: 0px;
}

textarea {
  background-color: $brand-bg;
}

.btn-menu-minimize {
  bottom: 0px;
  position: absolute;
  border: 0px;
  padding: 0px;
  width: 100%;
  background-color: #283e51;
/*  &:focus {
    background-color: lighten($brand-secondary, 30%);
  }*/
}

.menu-label {
  margin-left: 10px;
  min-width: 125px;
  font-size: 15px;
}

.table-main-pane {
  height: 100%;
  overflow-y: auto;
}

.table-main-pane thead {
  color: $gray-lighter;
  background-image: linear-gradient($brand-menu, $brand-menu), 
        linear-gradient($table-header-border-color,$table-header-border-color);
  background-clip: content-box, padding-box;
}

.table-main-pane thead th {
  padding: $table-header-border-width 0px $table-header-border-width !important;
  height: 100%;
}

.table-main-pane thead th > div {
  height: 100%;
  min-height: 48px;
  display: flex;
  flex-direction: row;
  padding: 0px 4px;
}

.table-main-pane thead th:first-child {
  padding-left: $table-header-border-width !important;
}

.table-main-pane thead th:last-child {
  padding-right: $table-header-border-width !important;
}

.table-main-pane tbody {
  background-color: $brand-menu;
//  color: black;
}

.table-details-pane {
  height: 100%;
  overflow-y: auto;
  padding: 5px;
}

.table-layout {
  margin: 10px;
}

.table tbody>tr>td {
  vertical-align: middle;
}

.btn-table-filter {
  height: 100%;
}

.cell-enabled, .header-enabled {
  text-align: center;
}

.cell-version, .header-version {
  text-align: right;
}

.cell-installTime, .header-installTime {
  text-align: center;
}

.cell-filetime, .header-filetime {
  text-align: center;
}

.cell-progress, .header-progress {
  text-align: center;
}

.cell-progress .progress {
  height: 16px;
  margin-top: auto;
  margin-bottom: auto;
}

.header-dependencies {
  text-align: center;
}

.header-action p {
  width: 100%;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  color: currentColor;
  background-color: transparent;
  border-width: 0px;
  &:hover {
    color: $link-hover-color;
    background-color: initial;
  }
  &:active {
    color: $link-hover-color;
    background-color: initial;
  }
  &:focus {
    color: $link-hover-color;
    background-color: initial;
  }
}

#fomod-installer-dialog .modal-dialog {
  width: 80%;
  height: 80%;
}

#fomod-installer-dialog .modal-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#fomod-installer-dialog .modal-body {
  flex: 1 0%;
  display: flex;
  padding: 10px;
}

#fomod-installer-dialog .modal-header {
  padding-top: 0px;
  padding-bottom: 0px;
}

#fomod-installer-dialog .modal-footer {
  padding-top: 5px;
  padding-bottom: 5px;
}

#fomod-installer-dialog .progress {
  display: inline-block;
  width: 200px;
  height: 16px;
  margin-bottom: 0px;
}

#fomod-installer-dialog .pager {
  margin: 5px 0px;
}

div > .hover-expand {
  white-space: nowrap;
  max-height: 2.0em;
  overflow: hidden;
  transition: max-height 0.5s ease;
  margin-bottom: 0px;
}

div:hover > .hover-expand {
  white-space: initial;
  max-height: 200px;
}

.hover-expand span {
  display: block;
}

.profile-details {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.profile-details li {
  display: inline;
  list-style-type: none;
  padding-right: 5px;
}

.profile-actions {
  position: absolute;
  top: 10px;
  right: 5px;
}

#about-dialog p {
  margin: 0px;
}

.license-text {
  margin-left: 10px;
  background-color: $gray-lighter;
}

.license-text-own {
  margin-left: 10px;
  background-color: $gray-lighter;
  max-height: 400px;
  overflow-y: scroll;
}


#ext-change-dialog .modal-dialog {
  width: 80%;
  height: 80%;
}

#ext-change-dialog .modal-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#ext-change-dialog .modal-body {
  flex: 1 0%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.padded-text {
  padding-top: 5px;
  padding-bottom: 5px;
}

#ext-change-dialog td {
  padding: 2px;
}

#ext-change-dialog select {
  padding: 2px;
  height: initial;
}

.more-link {
  margin-bottom: 8px;
  margin-left: 0px;
  margin-right: 0px;
  width: 10px;
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}

.more-popover .popover-content {
  white-space: pre-wrap;
}

.more-popover .popover-content p {
  margin: 0 0 5px;
  text-indent: 10px;
}

.env-edit-buttons {
  position: absolute;
  top: 3px;
  right: 3px;
}

.btn-group {
  position: static;
  // inside tables we can't use "relative" because then the dropdown overlays the header.
  // This rule makes the dropdown relative only when it's open. This way it will still overlay
  // the header but only if the user interacts with it. This looks slightly broken but it's
  // actually useful.
  &.dropdown.open {
    position: relative;
  }
}

.btn-group>.btn {
  float: none;
}

.btn-group-vertical {
  display: flex;
  flex-direction: column;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
  position: initial;
  display: inline-block;
}

.btn-quicklaunch {
  //width: 100%;
  text-align: left;
  background-color: #192125;
  border-width: 0px;
  padding: 8px !important;
}

.container-quicklaunch {
  display: 'inline';
  margin-right: 20px;
}

.table {
  margin-bottom: 0px;
}

.table > thead > tr > th {
  vertical-align: top;
}

.form-field-compact {
  padding: 2px;
  height: 24px;
}

.select-compact {
  padding: 0px;
  height: auto;

  .Select-value {
    margin: 0px;
    padding: 0px;
    height: 20px;
    white-space: nowrap;
  }
  .Select-value-icon {
    padding: 0px 7px;
  }
  .Select-value-label {
    padding: 0px 7px;
  }
  .Select-control {
    height: 20px;
  }
  .Select-input {
    height: 20px;
    input {
      height: 100%;
    }
  }
  .Select-placeholder {
    font-weight: normal;
  }
  .Select--multi {
    padding: 0px 5px;
  }
  .Select.arrow-zone {
    font-size: 11px;
  }
  .Select-menu-outer {
    margin-top: 0px;
  }
}

#gamepicker-layout {
  text-align: right;
}

.gamepicker-body {
  height: 100%;
  overflow-y: auto;
  padding: 5px;
  margin: 5px;
}

.btn-toggle-on {
  background-color: $gray-dark;
}

.btngroup-game-list {
  display: inline-flex;
}

.btngroup-collapsed > .btn {
  @extend .btn-embed;
}

.game-list-item .media-right {
  vertical-align: middle;
}

#starter-dashlet {
  overflow: visible;
  margin: 5px;
}

.main-page {
  transition: visibility 0s 300ms, opacity 300ms;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.main-page-current {
  opacity: 1;
  z-index: 1000;
  transition-delay: 0s;
}

.main-page-hidden {
  opacity: 0;
  z-index: 0;
  visibility: hidden;
}

#main-window-pane .overlay {
  position: absolute;
  height: 100%;
  z-index: $zindex-navbar-fixed;
  top: 0px;
  right: 0px;
  max-width: 0%;
  background: $brand-bg;
  border-style: solid;
  border-color: lighten($brand-menu, 30%);
  border-width: 0px;
  transition: max-width 300ms cubic-bezier(0, 1, 1, 1), border-width 0ms 300ms;
  display: flex;
  flex-direction: column;
}

#main-window-pane .overlay.in {
  max-width: 30%;
  border-width: 2px;
  transition: max-width 300ms cubic-bezier(1, 0, 1, 1), border-width 0ms 0ms;
}

.overlay-spacer {
  flex: 1 1 0%;
}

#img-add-game {
  margin-bottom: 10px;
}

.btn-toolbar-text {
  margin: 0px 0px 0px 10px;
  display: inline;
}

.table-split {
  padding: 10px;
}

.vcenter {
  margin: auto 0 auto 0;
}

.hcenter {
  margin: 0 auto 0 auto;
}

.table-actions > button {
  @extend .hcenter;
}

.flex-rest {
  flex: 1 1 0%;
}

.dropdown-version {
  padding: 0px 10px;
}

.dropdown-menu {
  margin-top: 0px;
  border-top-width: 0px;
  min-width: initial;
  top: 90%;
}

// more pronounced popover shadow. just cause
.popover {
  box-shadow: 5px 5px 10px rgba(0,0,0,.6);
}

#btn-search-category-prev, #btn-search-category-next {
  padding: 0px;
}

#btn-search-category-prev svg, #btn-search-category-next svg {
  height: 24px;
}

.search-category-box {
  margin-left: 10px;
  position: absolute;
  top: $modal-inner-padding;
  right: $modal-inner-padding;
}

#search-category-input {
  padding-right: 50px;
}

.search-position {
  width: 100%;
  text-align: right;
  display: block;
  margin-top: -25px;
  margin-left: -5px;
  pointer-events: none;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: initial;
}

a[role=menuitem] svg {
  margin-right: 10px;
}

.discovery-progress-0 {
  background-color: $brand-success;
}

.discovery-progress-1 {
  background-color: $brand-info;
}

.discovery-progress-2 {
  background-color: $brand-warning;
}

.discovery-progress-3 {
  background-color: $brand-danger;
}

.btn-mods-enabled-enabled, .toggle-mods-enabled-enabled {
  background-color: $brand-success;
}

.btn-mods-enabled-disabled, .toggle-mods-enabled-disabled {
  background-color: $gray;
}

.btn-mods-enabled-uninstalled, .toggle-mods-enabled-uninstalled {
  background-color: $brand-info;
}

.option-mods-enabled-uninstalled {
  background-color: $brand-danger;
}

.table-mods .dropdown > button {
  padding: 2px 10px;
  border: 0px;
  min-width: 100px;
}

.table-mods .dropdown {
  display: inline-flex;
}

#dropdown-mods-enabled {
  padding: 2px 5px;
  border: 0px;
  border-left: 1px solid $gray-light;
  min-width: 0px;
}

.group-addon-btn {
  padding: 0px 3px;
  width: 26px;
}

.group-addon-btn button {
  padding: 0px;
  width: 100%;
}

#menu-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1035;
  pointer-events: none;
}

#menu-layer > * {
  pointer-events: initial;
}

.textarea-notes {
  width: 100%;
  min-height: 100px;
  resize: none;
}

.btngroup-version {
  display: inline-flex;
}

.img-mod-picture {
  max-width: 100%;
  max-height: 192px;
}

.toolbar-main {
  padding-left: 12px;
}

.lbl-username {
  margin-top: 10px;
}

.div-logout {
  margin-top: -6px;
  text-align: right;
}

.div-logout a {
  color: $link-color;
  font-size: 11px;
}

.table-header {
  margin-right: $scrollbar-width;
}

.chart-container {
  text-align: -webkit-center;
  border: 2px solid $brand-secondary;
  background-color: $brand-menu;
  margin: 10px;
}

.recharts-default-tooltip {
  background-color: $brand-menu;
  border: 1px solid $brand-secondary;
}

.download-chart .recharts-curve {
  stroke: $brand-success;
}

::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-width;
}
/*
::-webkit-scrollbar-track {
  background-color: $brand-menu;
}*/

::-webkit-scrollbar-thumb {
  background-color: $gray-dark;
  border-radius: 4px;
//  box-shadow: inset 0 0 1px 1px $brand-bg;
//  -webkit-box-shadow: inset 0 0 1px 1px $brand-bg;
}

::-webkit-scrollbar-corner {
  background-color: $brand-secondary;
}
