@import "flatly/variables";

/**
 * styles for custom controls
 */

#notifications {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 250px;
  max-height: 90%;
  overflow-y: auto;
}

#notifications::-webkit-scrollbar { 
    display: none; 
}

.btn-embed {
  padding: 0px;
  border: 0px;
  color: dimgray;
  background-color: transparent;
}

.notification-enter {
  opacity: 0;
}

.notification-enter.notification-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.notification-leave {
  opacity: 1;
}

.notification-leave.notification-leave-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.mod-installing {
  background-color: @gray-dark;
}

.mod-installed {
  background-color: @table-bg;
}