$half-gutter: floor($gutter-width / 2);

////////////////////////
// generic control rules

html {
  // for rem
  font-size: $font-size-base;
  letter-spacing: 0.03em;
}

body {
  touch-action: $touch-action;
  text-rendering: optimizeLegibility;
}

#content {
  background-color: $brand-bg;
}

// button groups
.btn-group {
  position: static;
  // inside tables we can't use "relative" because then the dropdown overlays the header.
  // This rule makes the dropdown relative only when it's open. This way it will still overlay
  // the header but only if the user interacts with it. This still looks slightly broken but it's
  // actually useful.
  &.dropdown.open,
  &.dropup.open {
    position: relative;
  }

  .btn {
    vertical-align: text-bottom;
  }
}

.btn-group-vertical {
  display: flex;
  flex-direction: column;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
  position: initial;
  display: inline-block;
}

// buttons
.btn-embed {
  padding: 0px;
  border: 0px;
  color: currentColor;
  background-color: transparent;
  &:hover {
    color: $link-hover-color;
    background-color: initial;
  }
  &:active {
    color: $link-hover-color;
    background-color: initial;
  }
  &:focus {
    color: $link-hover-color;
    background-color: initial;
  }
}

// button inside a (input- or list-) line  pulled to the right
.btn-line-right {
  position: absolute;
  right: 10px;
  top: 0px;
  height: 100%;
}

// button inside a (input- or list-) line  pulled to the top
.btn-line-top {
  position: absolute;
  right: 20px;
  top: 20px;
  display: inline-block;
}

// text in a button that combines icon and text
.button-text {
  margin-left: 10px;
  display: inline;
}

// toggle-button that is active
.btn-toggle-on {
  background-color: $gray-dark;
}

// for some reason the badge-color is overwritten with ugly in buttons
.btn-default .badge {
  color: $badge-color;
  background-color: $badge-bg;
}

.btn:not(.btn-embed) svg {
  margin-right: 0.5em;
}

// tables
.table {
  margin-bottom: 0px;

  >thead>tr>th {
    vertical-align: top;
  }

  >tbody>tr>td {
    vertical-align: middle;
  }

  >thead>tr>th,
  >thead>tr>td,
  >tbody>tr>th,
  >tbody>tr>td,
  >tfoot>tr>th,
  >tfoot>tr>td {
    border: none;
  }
}

// forms
.form-control, input {
  border-width: 2px;
  @include box-shadow(none);

  &:focus {
    @include box-shadow(none);
  }
}

.form-horizontal .has-feedback label ~ .form-control-feedback {
  top: 0px;
}

.form-field-compact {
  padding: 2px;
  height: 24px;
}

textarea {
  background-color: $brand-bg;
}

.form-control-feedback {
  z-index: 4;
}

.has-warning {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: $brand-warning;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid $brand-warning;
  }

  .input-group-addon {
    border-color: $brand-warning;
  }
}

.has-error {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: $brand-danger;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid $brand-danger;
  }

  .input-group-addon {
    border-color: $brand-danger;
  }
}

.has-success {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: $brand-success;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid $brand-success;
  }

  .input-group-addon {
    border-color: $brand-success;
  }
}

.input-group-btn > .btn {
  border: 0px;
  padding-bottom: 4px;
}

// nav bars
.nav > li > a {
  color: $text-color;
}

.nav-pills > li > a {
  color: $text-color;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 25px 10px 16px;
  -webkit-user-drag: none;
} 

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: $gray-light;
}

.nav-pills.nav-stacked > li.active > a,
.nav-pills.nav-pills.nav-stacked > li.active > a:hover,
.nav-pills.nav-stacked > li.active > a:focus {
  border-left: 4px solid $brand-warning;
  padding-left: 12px;
}

.nav-pills.nav-stacked > li.secondary > a,
.nav-pills.nav-pills.nav-stacked > li.secondary > a:hover,
.nav-pills.nav-stacked > li.secondary > a:focus {
  border-left: 4px solid $brand-info;
  padding-left: 12px;
  background-color: $brand-primary;
}

.nav-pills>li>a svg {
  vertical-align: middle;
}

.react-context-menu-link.disabled {
  color: $gray-dark;
}

.inline-form {
  display: flex;
  flex-grow: 1;
}

// fill the available space inside a flex display
.flex-fill {
  flex: 1 1 0%;
}

.vcenter {
  margin: auto 0 auto 0;
}

.hcenter {
  margin: 0 auto 0 auto;
}

// uses <a>-tag to get a tooltip but should look like regular text
.fake-link {
  color: currentColor;
  &:hover {
    color: currentColor;
  }
}

.radio, .checkbox {
  margin-top: 0px;
  margin-bottom: 0px;
}

.button-group {
  text-align: right;
}

.feedback-awesome {
  padding: 4px;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  color: currentColor;
  background-color: transparent;
  border-width: 0px;
  &:hover, &:active, &:focus {
    color: $link-hover-color;
    background-color: initial;
  }
}

.menu-separator-line > a {
  border-top: 1px solid $gray;
  padding-left: 10px !important;
}

// text label that shows only ~2 lines of text
// and expands when the mouse is over it
div > .hover-expand {
  white-space: nowrap;
  max-height: 2.0em;
  overflow: hidden;
  transition: max-height 0.5s ease;
  margin-bottom: 0px;
}

div:hover > .hover-expand {
  white-space: initial;
  max-height: 200px;
}

.hover-expand span {
  display: block;
}

.select-compact {
  padding: 0px;
  height: auto;
  font-weight: normal;

  .Select-value {
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
  }
  .Select-value-icon {
    padding: 0px 7px;
  }
  .Select-control {
    height: 20px;
  }
  .Select-input {
    margin-top: 0.2em;
    input {
      line-height: initial;
    }
  }
  .Select-placeholder {
    font-weight: normal;
    padding-top: 0.2em;
  }
  .Select--multi {
    padding: 0px 5px;
  }
  .Select.arrow-zone {
    font-size: 11px;
  }
  .Select-menu-outer {
    margin-top: 0px;
  }
}

a[role=menuitem] svg {
  margin-right: 10px;
}

.media {
  overflow: visible;
}

.button-toggle {
  width: 32px !important;
  height: 24px !important;
  &.on {
    fill: $brand-success;
  }
  &.off {
    fill: $gray;
  }
}

// the original css to create a tab header that is open on the bottom
// has a border around the <a>-tag that is colored on three sides and transparent
// on the bottom. This leaves one pixels in the corners that is 50% transparent.
//
// This solution has the border on the <li>-tag (colored on all four sides)
// and the <a> has only the transparent border on the bottom. It also has a negative
// margin on the bottom so that this border overlaps the border of the <li>.
// This way the transparent overlap is one pixel narrower than the border so the
// pixels in the corner are colored.
.nav-tabs>li.active {
  border: 1px solid $nav-tabs-active-link-hover-border-color;
  margin-right: 2px;
}

.nav-tabs>li.active>a {
  &,
  &:hover,
  &:focus {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom: 1px solid transparent;
    margin-right: 0px;
    margin-bottom: -1px;
  }
}

.tab-pane>div {
  border: 1px solid $nav-tabs-border-color;
  border-top-width: 0px;
}

.tab-pane>div>.panel {
  border-width: 0px;
  background-color: $brand-menu;
  &:last-child {
    margin-bottom: 0px;
  }
}

.p-link {
  color: $link-color;
}

.icon-button.has-children svg {
  margin-right: 0.5em;
}

// /generic control rules
/////////////////////////

///////////////////////////////////
// icons (based on fontawesome css)

.icon {
  fill: currentColor;
  height: 1.2em;
  width: 1.2em;
  display: inline-block;
  vertical-align: text-bottom;
}

.icon-border {
  padding: .2em .25em .15em;
  border: solid .08em $gray-light;
  border-radius: .1em;
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
  animation: icon-spin 2s infinite linear;
}

.icon-pulse {
  -webkit-animation: icon-spin 1s infinite steps(8);
  animation: icon-spin 1s infinite steps(8);
}

.icon-stroke {
  stroke: currentColor;
}

@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.icon-flip-horizontal {
  transform: scale(-1, 1);
}

.icon-flip-vertical   {
  transform: scale(1, -1);
}

.icon-nexus {
  color: black;
}

.dropdown-menu {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

// /icons
/////////

/////////
// toggle

.toggle-container {
  display: flex;

  &.toggle-disabled {
    filter: grayscale(80%);
  }
}

.toggle {
  position: relative;
  width: 32px;
  display: flex;
  align-items: center;
  margin-right: 0.33em;
}

.toggle-track {
  position: absolute;
  left: 4px;
  right: 4px;
  top: 4px;
  bottom: 4px;
  border-radius: 8px;
}

.toggle-handle {
  position: absolute;

  width: 16px;
  height: 16px;

  border-radius: 8px;
  background-color: $text-color;

  transition: left ease 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    color: $brand-primary;
    width: 0.75em;
    height: 0.75em;
  }
}

.toggle-off .toggle-track {
  background-color: $text-color-disabled;
}

.toggle-off .toggle-handle {
  left: 0;
}

.toggle-on .toggle-track {
  background-color: $brand-success;
}

.toggle-on .toggle-handle {
  left: 16px;
}

// /toggle
//////////

///////////////
// portal menus

// these are menus (i.e. dropdown menus) that are
// drawn on a separate layer so it's not cut off
// by containers higher up in the hierarchy

.menu-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: $zindex-menu-layer;

  > * {
    pointer-events: initial;
    width: 100%;
    height: 100%;
  }
}

.modal-container .menu-layer {
  z-index: $zindex-modal + 5;
}

// /portal menu
///////////////

//////////
// globals

::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-width;
}

::-webkit-scrollbar-thumb {
  background-color: $gray-dark;
  border-radius: 4px;
}

::-webkit-scrollbar-corner {
  background-color: $brand-secondary;
}

::-webkit-input-placeholder {
  color: darken($text-color, 20%) !important;
  font-style: italic;
}

// /globals
///////////

////////////////
// notifications

// the notification container (invisible)
#notifications {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
  z-index: $zindex-notifications;

  -webkit-scrollbar {
    display: none;
  }
}

// notification
.notification {
  margin-bottom: 1px;
  padding: 5px;
  min-height: 32px;
  display: flex;
  flex-direction: row;

  p {
    display: inline-block;
    flex: 1 1 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  p, svg, .notification-buttons {
    margin-top: auto;
    margin-bottom: auto;
  }

  .notification-buttons {
    button {
      padding: 0px 2px;
      margin: 0px 2px;
    }
  }
}

.notification-enter {
  opacity: 0;

  .notification-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
}

.notification-leave {
  opacity: 1;
  .notification-leave-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
  }
}

#notifications-popover {
  min-width: 200px;
  max-width: 50%;
  z-index: $zindex-notifications;
}

#notifications-button {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  .badge {
    padding: 1px 3px;
    font-size: $font-size-small;
    position: absolute;
    right: 8px;
    top: 8px;
  }
}

// /Notifications
/////////////////

//////////
// Dialogs

.modal-dialog {
  max-width: 80%;
  min-width: 400px;
}

.modal-title {
  display: flex;
  align-items: center;

  svg {
    width: 2em;
    height: 2em;
    margin-right: 1em;
  }
  .icon-info,
  .icon-question {
    color: $brand-info;
  }

  .icon-error {
    color: $brand-danger;
  }
}

.common-dialog-wide {
  .modal-dialog {
    height: 80%;
    width: auto;
  }

  .modal-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .modal-body {
    flex: 1 0%;
    display: flex;
    padding: 10px;

    div {
      display: flex;
      flex-direction: column;
    }

    webview {
      height: 100%;
      background-color: white;
    }
  }
}

.dialog-container {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;

  // the flex sizing may not be optimal
  > textarea {
   width: 100%;
   resize: none;
   border: none;
   flex: 1 1 0%;
  }

  > div {
   flex: 1 1 90%;
  }
}

// /Dialogs
///////////


////////////////////
// Main Window frame

// the topmost button bar
// (containing the quick launcher, login control, game-specific action buttons)
#main-toolbar {
  background-color: $brand-menu;
  height: 48px;
  display: flex;

  button {
    background-color: transparent;
    border-width: 0px;
    color: $text-color;
    padding: 8px;
    &:hover {
      background-color: $gray-dark;
    }
    >svg {
      width: 24px;
      height: 24px;
    }
  }
}

.application-icons {
  height: 100%;
  margin-left: $half-gutter;
}

// the naviation buttons on the left
#main-nav-sidebar {
  background-color: $brand-menu;
  display: flex;
  flex-direction: column;

  // inside the main nav sidebar
  // (contains everything except the minimize/maximize button)
  #main-nav-container {
    flex-direction: column;
    transition: max-width $expand-sidebar-delay, min-width $expand-sidebar-delay;
    height: 100%;
    display: flex;
    overflow-y: auto;
    flex: 1 1 0;
  }

  .menu-label {
    transition: opacity $expand-sidebar-delay, margin-left $expand-sidebar-delay;
    vertical-align: middle;
    font-size: $font-size-base;
    margin-left: 10px;
  }

  &.sidebar-expanded {
    #main-nav-container {
      max-width: 500px;
    }

    .menu-label {
      opacity: 1;
    }
    .badge {
      margin-left: 0px;
      transition: margin-left $expand-sidebar-delay, padding $expand-sidebar-delay, font-size $expand-sidebar-delay;
    }
    .icon-spinner {
      margin-left: 5px;
      transition: margin-left $expand-sidebar-delay, height $expand-sidebar-delay;
    }
  }

  &.sidebar-compact {
    #main-nav-container {
      min-width: 0px;
      max-width: 48px;
    }
    .menu-label {
      opacity: 0;
      width: 0;
      overflow-x: visible;
      min-width: 0;
      display: inline-block;
    }
    .badge {
      padding: 3px;
      font-size: $font-size-small;
      margin-left: -18px !important;
      transition: margin-left $expand-sidebar-delay, padding $expand-sidebar-delay, font-size $expand-sidebar-delay;
    }
    .icon-spinner {
      margin-left: -12px;
      height: 12px;
      transition: margin-left $expand-sidebar-delay, height $expand-sidebar-delay;
    }
  }
}

// main window area
#main-window-pane {
  background-color: $brand-bg;
  color: $text-color;

  .overlay {
    position: absolute;
    height: 100%;
    z-index: $zindex-navbar-fixed;
    top: 0px;
    right: 0px;
    max-width: 0%;
    background: $brand-menu;
    border-style: solid;
    border-color: lighten($brand-menu, 30%);
    border-width: 0px;
    transition: max-width 300ms cubic-bezier(0, 1, 1, 1), border-width 0ms 300ms;
    display: flex;
    flex-direction: column;
    &.in {
      max-width: 30%;
      border-width: 2px;
      transition: max-width 300ms cubic-bezier(1, 0, 1, 1), border-width 0ms 0ms;
    }
  }
}

// animation for switching between main pages
.mainpage-enter {
  opacity: 0;
  &.mainpage-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
  }
}

.mainpage-leave {
  opacity: 1;
  &.mainpage-leave-active {
    opacity: 0;
    transition: opacity 150ms ease-out;
  }
}

.mainpage-header {
  flex: 1 1 0%;
  display: flex;
  border: $brand-secondary solid;
  border-width: 0px 1px;
  height: 100%;
  >div {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.mainpage-header-container {
  flex: 1 1 0%;
  >div {
    width: 100%;
    height: 100%;
  }
  margin-left: 20px;
}

// footer
#main-footer {
  background-color: $brand-menu;
}

.main-page {
  transition: opacity 500ms;
  flex: 1 1 0;
  position: relative;

  &.current {
    opacity: 1;
    z-index: 1000;
    transition-delay: 0s;
  }

  &.page-hidden {
    transition: visibility 0s 500ms, opacity 500ms;
    opacity: 0;
    z-index: 0;
    visibility: hidden;

    // hack to make sure the page can fade out without looking
    // too broken while not displacing the visible page
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &.secondary {
    // make secondary page always show at the bottom
    order: 1;
  }
}

.main-page-inner {
  position: absolute;
  // asymmetric padding. We allow pages to extend all the way to the right edge
  top: $half-gutter;
  bottom: $half-gutter;
  left: $half-gutter;
  right: 0;
}

.main-page-body {
  width: 100%;
  height: 100%;
}

#login-control {
  height: 100%;
  display: inline-flex;

  .username {
    margin-top: 10px;
  }
  .logout-button {
    margin-top: -0.5em;
    text-align: right;
  }
  .logout-button a {
    font-size: 11px;
  }
}

.btn-menu-minimize {
  border: 0px;
  padding: 1px;
  width: 100%;
  background-color: $brand-secondary;
  display: flex;
  justify-content: center;
}

// /main window frame
/////////////////////

/////////
// tables
.table-actions {
  display: inline-flex;
  >.btn {
    @extend .btn-embed;
    @extend .hcenter;
  }
}

.table-selected {
  background-color: $brand-secondary;
}

.table-main-pane {
  overflow-y: auto;
  flex: 1 1 0%;

  thead {
    color: $text-color;
    background-image: linear-gradient($brand-menu, $brand-menu), 
          linear-gradient($table-header-border-color,$table-header-border-color);
    background-clip: content-box, padding-box;

    th {
      padding: $table-header-border-width 0px $table-header-border-width !important;
      height: 100%;

      &:first-child {
        padding-left: $table-header-border-width !important;
      }

      &:last-child {
        padding-right: $table-header-border-width !important;
      }

      > div {
        height: 100%;
        min-height: 48px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 16px 4px;
        > :not(first-child) {
          margin-top: 5px;
        }
      }
    }
  }

  tbody {
    background-color: $brand-menu;
  }
}

.table-details-pane {
  height: 100%;
  overflow-y: auto;
  padding: 0px;
  min-width: 32px;
  background-color: $brand-menu;
  transition: max-width 300ms;
  border: 1px solid $brand-secondary;
  border-right-width: 0px;
  &.open {
    max-width: 30%;
  }
  &.closed {
    // overruled by min-width
    max-width: 0%;
    // offset the right offset to align the button
    // with the right border
    margin-right: -10px;
  }

  .form-control-static {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 0;
  }
}

.table-layout {
  margin: 10px;
}

.table-form-details {
  flex: 1 1 0%;
  padding: 5px;
  min-width: 250px;
  &.table-form-details-show {
    overflow-y: auto;
  }
  &.table-form-details-hide {
    overflow-y: hidden;
  }
}

.table-header {
  margin-right: $scrollbar-width;
  transform-style: preserve-3d;
}

.btn-table-filter {
  @extend .btn-embed;
  height: 100%;
}

.group-addon-btn {
  padding: 0px 3px;
  width: 26px;

  button {
    padding: 0px;
    width: 100%;
  }
}

.table-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
}

.textarea-details {
  width: 100%;
  resize: none;
  min-height: 100px;
}

// /tables
//////////

//////////
// iconbar

.btngroup-collapsed > .btn {
  @extend .btn-embed;
}

// iconbar
//////////

////////////////////
// single components

// about dialog
.about-panel {
  height: 100%;
  max-height: 200px;
  overflow-y: scroll;
}

#about-dialog p {
  margin: 0px;
}

.license-text {
  margin-left: 10px;
  background-color: $brand-selected;
}

.license-text-own {
  margin-left: 10px;
  background-color: $gray-lighter;
  max-height: 400px;
  overflow-y: scroll;
}

// logout control
.logout-avatar {
  color: red;
}

// "embedded" progress bar that shouldn't set itself apart from
// the surroundings too much
.progress-embed {
  // using max-height here is a bit of a hack because with react
  // bootstrap I apparently can't replace the .progress class,
  // I can just expand it, so if I set height here it has no effect
  max-height: 16px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  background: $gray-light;
  margin-bottom: 0px;
  border: 1px;
  border-style: solid;
}

// container around an embedded progress bar
.progress-container {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
}

.listitem-tweak {
  padding: 0;
}

// /single components
/////////////////////

/////////////////////////
// specific table columns

.mod-update {
  &.warning {
    color: $brand-warning;
  }

  &.download {
    color: $brand-warning;
  }

  &.ban {
    color: $brand-danger;
  }

  &.bug {
    color: $brand-danger;
  }

  .icon-button {
    margin-left: 0.4em !important;
  }
}

.cell-enabled, .header-enabled {
  text-align: center;
}

.cell-version, .header-version {
  text-align: right;
}

.cell-installTime, .header-installTime {
  text-align: center;
}

.cell-filetime, .header-filetime {
  text-align: center;
}

.cell-progress, .header-progress {
  text-align: center;
}

.cell-progress .progress {
  height: 16px;
  margin-top: auto;
  margin-bottom: auto;
}

.btn-mods-enabled-enabled, .toggle-mods-enabled-enabled,
.btn-extensions-enabled-enabled, .toggle-extensions-enabled-enabled {
  background-color: $brand-success;
}

.btn-mods-enabled-disabled, .toggle-mods-enabled-disabled,
.btn-extensions-enabled-disabled, .toggle-extensions-enabled-disabled {
  background-color: $gray;
}

.btn-mods-enabled-uninstalled, .toggle-mods-enabled-uninstalled,
.btn-extensions-enabled-uninstalled, .toggle-extensions-enabled-uninstalled {
  background-color: $brand-info;
}

.option-mods-enabled-uninstalled {
  background-color: $brand-danger;
}

.dropdown-version {
  padding: 0px 10px;
}

.mod-picture-container {
  max-width: 256px;
}

.mod-picture {
  max-width: 100%;
  max-height: 192px;
}

.mod-picture-large {
  margin-top: 5%;
  max-width: 90%;
  max-height: 90%;
  position: absolute;
}

.table-mods .dropdown > button,
.table-mods .dropup > button,
.table-extensions .dropdown > button,
.table-extensions .dropup > button {
  padding: 2px 10px;
  border: 0px;
  min-width: 100px;
}

.table-mods .dropdown,
.table-mods .dropup,
.table-extensions .dropdown,
.table-extensions .dropup {
  display: inline-flex;
}

#dropdown-mods-enabled,
#dropdown-extensions-enabled {
  padding: 2px 5px;
  border: 0px;
  border-left: 1px solid $gray-light;
  min-width: 0px;
}

.btngroup-version {
  display: inline-flex;
  vertical-align: text-bottom;
}

.header-dependencies {
  text-align: center;
}

.header-action p {
  width: 100%;
  text-align: center;
}

// /specific table columns
//////////////////////////

///////////////////
// game picker page

#gamepicker-layout {
  text-align: right;
}

.gamepicker-body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  .popover {
    max-width: 600px;
  }
}

.game-thumbnail {
  @extend .panel;
  float: left;
  position: relative;
  margin: 16px;
  box-shadow: 4px 4px 8px black;
  border-radius: 4px;
  background-color: $brand-menu;
}

.game-thumbnail-primary {
  background-color: $brand-selected;
}

.game-thumbnail-default {
  @extend .panel-default;
  border-color: $brand-secondary;
}

.game-thumbnail-body {
  @extend .panel-body;
  padding: 4px 4px 0px;

  .bottom {
    left: 0px;
    bottom: 0px;
    width: 100%;
    white-space: nowrap;
    display: flex;
    padding: 0px 2px;
    margin: 8px 0px;

    &div {
      margin: auto 0px;
    }
  }

  .buttons {
    margin-top: auto;
    margin-bottom: auto;
    * {
      display: inline-block;
    }
    button {
      @extend .btn-embed;
    }
  }

  .name { 
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    flex: 1 1 0;
  }

  .thumbnail-img {
    max-width: 200px;
  }
}

.game-thumbnail-img-list {
  max-width: 150px;
  max-height: 50px;
}

.game-thumbnail-container-list {
  width: 100px;
  min-width: 50px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.game-thumbnail-info {
  position: absolute;
  top: 8px;
  right: 8px;
}

.game-list-selected {
  background-color: $brand-selected;
}

.game-list-item {
  .media-left {
    vertical-align: middle;
  }
  .media-right {
    vertical-align: middle;
    white-space: nowrap;
  }
}

.btngroup-game-list {
  display: inline-flex;
  button {
    @extend .btn-embed;
  }
}

.progress {
  margin: 6px;
}

.discovery-progress-container {
  display: flex;
}

.discovery-progress-0 {
  background-color: $brand-success;
}

.discovery-progress-1 {
  background-color: $brand-info;
}

.discovery-progress-2 {
  background-color: $brand-warning;
}

.discovery-progress-3 {
  background-color: $brand-danger;
}

#img-add-game {
  margin-bottom: 10px;
}

// game picker page
///////////////////

//////////////
// quicklaunch

.container-quicklaunch {
  margin: auto $half-gutter auto 1px;

  >.btn-group {
    >.btn-quicklaunch {
      padding: 2px !important;
      display: inline-flex;
      >div {
        display: flex;
        img {
          width: auto;
          height: auto;
        }
      }
      >.caret {
        margin: auto 0;
      }
    }
  }
  .menu-label {
    flex: 1 1 0;
    margin: auto 0.25em;
  }

  .tool-icon-container {
    width: 64px;
    height: 40px;
    display: flex;
    justify-content: center;

    .tool-icon {
      max-width: 100%;
      max-height: 100%;
      display: block;
    }
  }
  .item-more-games {
    width: 100%;
    line-height: 40px;
  }
}

// /quicklaunch
///////////////

///////////////
// profile page

.profile-details {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  li {
    display: inline;
    list-style-type: none;
    padding-right: 15px;
  }
}

.profile-actions {
  margin-top: auto;
  margin-bottom: auto;
  .btn {
    padding: 4px;
    vertical-align: text-bottom;
  }
}

.icon-profile-feature {
  margin-right: 3px;
}

.profile-list {
  overflow-y: auto;
  height: 100%;
  margin-right: $half-gutter;
}

.profile-connector-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  pointer-events: none;
}

// /profile page
////////////////

////////////////
// mod highlight
.highlight-base {
  padding: 1px 5px;
  border: 0px;
  &:hover, &:active, &:focus {
    color: $link-hover-color;
  }
}

.highlight-1 {
  background-color: #ff0000;
  &:hover, &:active, &:focus {
    background-color: #ff0000;
  }
}

.highlight-2 {
  background-color: #03a9f4;
  &:hover, &:active, &:focus {
    background-color: #03a9f4;
  }
}

.highlight-3 {
  background-color: #4caf50;
  &:hover, &:active, &:focus {
    background-color: #4caf50;
  }
}

.highlight-4 {
  background-color: #cddc39;
  &:hover, &:active, &:focus {
    background-color: #cddc39;
  }
}

.highlight-5 {
  background-color: #ff9800;
  &:hover, &:active, &:focus {
    background-color: #ff9800;
  }
}

.highlight-default {
  background-color: transparent;
  &:hover, &:active, &:focus {
    background-color: transparent;
  }
}

.textarea-notes {
  width: 100%;
  min-height: 100px;
  resize: none;
}

// /mod highlight
/////////////////

///////////////
// starter page

.welcome-game-logo {
  max-height: 200px;
}

.tool-icon {
  width: auto;
  height: 40px;

  &.invalid {
    filter: grayscale(100%);
    color: $gray-darker;
  }

  &.valid {
    color: $brand-info;
  }
}

.tool-button {
  border: 1px solid $brand-secondary;
  background-color: $brand-menu;
  display: flex;
  flex-direction: row;
  padding: 7px;

  button {
    @extend .btn-embed;
  }
  span {
    flex: 1 1 0;
    margin: auto 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
  .btn-group {
    display: inline-flex;
    margin: auto 0;
  }

  &.tool-button-primary {
    background-color: $brand-secondary;
  }
}

.tool-bookmark {
  // balance the padding of the tool button
  margin-top: floor(($gutter-width / -3));
}

.btn-add-tool {
  width: 100%;
  button {
    width: 100%;

    padding: $half-gutter;
    background-color: $brand-menu;
    display: flex !important;

    span {
      margin-top: auto;
      margin-bottom: auto;
    }
    .btn-add-tool-text {
      flex: 1 1 0;
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

#starter-dashlet {
  overflow: visible;
  margin: 0;

  .row>div {
    padding-top: $half-gutter;
    padding-bottom: $half-gutter;
  }

  .container-fluid {
    overflow-y: auto;
    height: 175px;
    padding: 0;
  }

  .media-body {
    overflow: visible;
    vertical-align: middle;
  }
}

.env-edit-buttons {
  position: absolute;
  top: 3px;
  right: 3px;
}

// /starter page
////////////////

///////////
// dashlets

.dashlet {
  border: 1px solid $brand-secondary;
  background-color: $brand-menu;
  padding: $half-gutter;
  height: 100%;
  h4 {
    margin-top: 0;
  }
  li {
    border: 0px;
    background-color: lighten($brand-menu, 5%);
    margin-bottom: 2px;
    .icon-todo-type {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: $half-gutter;
      background-color: $brand-info;
      padding: 0.5em;
      width: 2.2em;
      height: 2.2em;
    }
    span {
      flex: 1 1 0;
      margin-top: auto;
      margin-bottom: auto;
    }
    button {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 10px;
    }
  }
}

.dashlet-todo {
  li {
    display: flex;
  }
}

.dashlet-news {
  display: flex;
  flex-direction: column;
  ul {
    margin-bottom: 0;
  }
}

.packery-item {
  padding: 5px;
  overflow: hidden;
}

.lodpi, .hidpi {
  .packery-height-1 {
    height: 190px;
  }
  .packery-height-2 {
    height: 380px;
  }
  .packery-height-3 {
    height: 570px;
  }
}

.dashlet-game-title {
  white-space: nowrap;
  text-align: center;
  margin: 0px;
  height: 120px;
  line-height: 100px;
}

.dashlet-game-more {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 130px;
  background: linear-gradient(to right,rgba(25, 36, 49, 0), rgba(25, 36, 49, 0.75), rgb(25, 36, 49));
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    text-align: right;
    margin-right: 20px;
  }
}

.list-news {
  overflow-y: auto;
  img {
    max-width: 50%;
    margin: 5px;
  }
}

// /dashlets
////////////

////////////////
// download page

.dropzone-url {
  width: calc(100% - 20px);
  height: 100px;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  border-width: 2px;
  border-style: dashed;
  border-color: $gray;

  &.hover-click {
    border-style: solid;
    border-color: $link-color;
  }

  &.hover-valid {
    border-style: solid;
    border-color: $brand-success;
  }

  &.hover-invalid {
    border-style: solid;
    border-color: $brand-warning;
  }
}

#downloads-action-icons .btn {
  @extend .btn-embed;
}

// /download page
/////////////////

////////////////////
// categories dialog

#btn-search-category-prev, #btn-search-category-next {
  padding: 0px;
}

#btn-search-category-prev svg, #btn-search-category-next svg {
  height: 24px;
}

.search-category-box {
  margin-left: 10px;
  position: absolute;
  top: $modal-inner-padding;
  right: $modal-inner-padding;
}

#search-category-input {
  padding-right: 50px;
}

.search-position {
  width: 100%;
  text-align: right;
  display: block;
  margin-top: -25px;
  margin-left: -5px;
  pointer-events: none;
}

// /categories dialog
/////////////////////

///////////////
// fomod dialog

#fomod-installer-dialog {
  .modal-dialog {
    width: 80%;
    height: 80%;
  }

  .modal-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .modal-body {
    flex: 1 0%;
    display: flex;
    padding: 10px;
  }

  .modal-footer {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .progress {
    display: inline-block;
    width: 200px;
    height: 16px;
    margin-bottom: 0px;
  }

  .pager {
    margin: 5px 0px;
  }

  .description {
    padding: 15px;
    margin: 15px;
    background-color: $brand-bg;
    overflow-y: auto;
  }
}

// /fomod dialog
////////////////

/////////////
// mod dialog

#popover-mod-description {
  max-width: 700px;
  // this popover tends to align with the top of the screen so the border isn't visible.
  // This is irritating because the user has to look twice to see that nothing was cut off
  margin-top: 5px;
  img {
    max-width: 100%;
  }
}

// /mod dialog
//////////////

/////////
// charts

.chart-container {
  text-align: -webkit-center;
  border: 2px solid $brand-secondary;
  background-color: $brand-menu;
  margin: $half-gutter;
}

.recharts-default-tooltip {
  background-color: $brand-menu;
  border: 1px solid $brand-secondary;
}

.download-chart .recharts-curve {
  stroke: $brand-success;
}

// without padding the labels on the y-axis are faded out.
// Note that the chart maintains aspect ratio so adding a padding
// on the horizontal actually also causes a small padding on the vertical
.download-chart .recharts-surface {
  padding-left: 15px;
}

.dashlet-download .recharts-sector {
  fill: $brand-success;
}

// /charts
//////////

//////////////
// more button

// a little question-mark button that reveals a lenghtier explanation
// to the context
.more-link {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}

.more-popover .popover-content {
  white-space: pre-wrap;
  // minimal pixel height of the screen is 768 and in the worst case a
  // vertically placed popover has a reference point almost in the middle
  // of the screen so the max height shouldn't be bigger than
  // (768 / 2) - <height of the arrow> - <height of the header>
  max-height: 300px;
  overflow-y: auto;
}

.more-popover .popover-content p {
  margin: 0 0 5px;
  text-indent: 10px;
}

// /more button
///////////////

/////////////////////////
// External change dialog

// dialog informing the user about external file changes

#ext-change-dialog {
  .modal-dialog {
    width: 80%;
    height: 80%;
  }

  .modal-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .modal-body {
    flex: 1 0%;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  td {
    padding: 2px;
  }

  select {
    padding: 2px;
    height: initial;
  }
}

.padded-text {
  padding-top: 5px;
  padding-bottom: 5px;
}

// /External change dialog
//////////////////////////

////////////
// game page

.game-page {
  padding-right: $half-gutter;
}

.popover-game-info {
  max-width: 500px;
}

// /game page
/////////////

////////////
// mods page
.mod-installing {
  background-color: $gray-dark;
}

.mod-installed {
  background-color: $table-bg;
}

#btn-more-mods {
  margin-top: $half-gutter;
}
// /mods page
/////////////

////////////////
// settings page

#settings-tab {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: $half-gutter;
}

#settings-tab > .tab-content {
  flex: 1;
  overflow-y: auto;
}

.list-game-search {
  .list-group-item {
    display: flex;
    >span {
      flex: 1 1 0;
    }
  }
}

// /settings page
/////////////////

///////////////////////////
// diagnostics files dialog

#diagnostics-files {
  height: 80vh;
  display: flex;
  flex-direction: column;

  > div {
    margin: $half-gutter 0;
  }

  .diagnostics-files-error {
    font-size: 'medium';
    margin: '0 1em';
  }
}

.diagnostics-files-sessions-panel {
  height: 100%;
  max-height: 200px;
  overflow-y: auto;
  .session-from, .session-to {
    color: $brand-info;
    font-weight: bold;
  }
  .session-crashed {
    color: $brand-danger;
  }
}

.diagnostics-files-log-panel {
  .checkbox {
    margin: 0px $half-gutter;
  }

  .log-list {
    list-style-type: none;
    padding-left: 0px;
    overflow-y: auto;
    height: 100%;
  }

  .log-time {
    color: $text-color-disabled;
  }

  .log-filter-debug, .log-type-debug {
    color: $gray;
  }

  .log-filter-info, .log-type-info {
    color: $brand-info;
  }

  .log-filter-warning, .log-type-warning {
    color: $brand-warning;
  }

  .log-filter-error, .log-type-error {
    color: $brand-danger;
  }
}

.textarea-diagnostics-files {
  width: 100%;
  height: 500px;
  resize: none;
  top: 0;
  bottom: 0;
}

.diagnostics-files-actions {
  .btn {
    padding: 2px;
  }
}

// diagnostics files dialog
///////////////////////////

////////
// HIDPI

.lodpi, .hidpi {
  width: 100%;
  height: 100%;
}

.hidpi {
  font-size: $hidpi-scale-factor;
}

// /HIDPI
/////////

/////////
// bbcode

.bbcode-spoiler-tag {
  button {
    display: block;
  }
}

// /bbcode
//////////

//////////////////
// radial progress

.radial-progress-running {
  fill: $brand-secondary;
}

.radial-progress-paused {
  fill: $brand-bg;
}

.radial-rest {
  fill: $gray-light;
}

// /radial progress
///////////////////

///////
// todo

.icon-todo-settings-review,
.icon-todo-automation {
  background-color: $brand-success !important;
}

.icon-todo-settings,
.icon-todo-search {
  background-color: $brand-info !important;
}

// /todo
////////

///////
// step

.steps {
  display: flex;
  flex-direction: row;
  hr {
    height: 1px;
    flex: 1 1 0;
    margin: 10px 5px;
    background-color: $gray;
  }
  .steps-step {
    display: flex;
    align-items: flex-start;
  }
  .steps-step-number {
    border-width: 1px;
    border-style: solid;
    border-radius: 1em;
    width: 24px;
    line-height: 22px;
    text-align: center;
    margin-right: 5px;
  }
  .steps-step-title {
    font-size: 1.2em;
  }

  .steps-step-description {
    font-size: 0.9em;
  }

  .steps-step.future {
    color: $text-color-disabled;
  }
}

// /step
////////

/////////////
// FlexLayout

.layout-container {
  display: flex;
  &.layout-fill {
    width: 100%;
    height: 100%;
  }
}

.layout-flex {
  >.layout-flex-inner {
    display: inline;
    &.layout-flex-fill {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.layout-flex {
  flex: 1 1 0;
  position: relative;
  overflow: hidden;
}

.layout-fixed {
  position: relative;
}

// /FlexLayout
//////////////

////////////////////////
// nexus download button

.nexusmods-action-button {
  display: inline;
  background: #57a5cc;
  padding: 10px 9px;
  margin: 0 8px;
  > svg {
    margin-right: 5px;
    use {
      .st0,
      .st1 {
        fill: #57a5cc !important;
        fill-opacity: 0 !important;
      }
    }
  }

  >.nexusmods-fake-link {
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.3;
  }
}

// /nexus download button
/////////////////////////

/////////
// other

// /other
/////////
