//== Base Colors

// setting dark-theme to true inverts the gray colors
// (so gray-dark actually becomes light). This way we
// get reasonable contrast without changing every
// single reference to a gray color
$dark-theme: true;

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 17%);
$gray-dark:              lighten($gray-base, 33%);
$gray:                   lighten($gray-base, 50%);
$gray-light:             lighten($gray-base, 66%);
$gray-lighter:           lighten($gray-base, 83%);

@if $dark-theme {
  $gray-base:    invert($gray-base);
  $gray-darker:  invert($gray-darker);
  $gray-dark:    invert($gray-dark);
  $gray:         invert($gray);
  $gray-light:   invert($gray-light);
  $gray-lighter: invert($gray-lighter);
}

$brand-primary:         #2C3E50;
$brand-highlight:       #428BCA;
$brand-success:         #5DB85C;
$brand-info:            #3498DB;
$brand-warning:         #F1AE4E;
$brand-danger:          #D95450;

$brand-bg:              #192431;
$brand-menu:            #202c3d;
$brand-secondary:       #0c5886;
$brand-selected:        #4c5663;

$table-header-border-width: 2px;
$table-header-border-color: #145076;

$body-bg:               $brand-menu;
$text-color:            #eeeeee;
$text-color-disabled:   darken(#eeeeee, 15%);

$link-color:            $brand-info;
$link-hover-color:      $link-color;
$link-hover-decoration: underline;

$component-active-color:    $text-color;
$component-active-bg:       $brand-primary;

//== Base fonts
$font-family-sans-serif:  "Roboto", sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        "Roboto";

$font-size-base:          13px;
$hidpi-scale-factor:      100%;

$headings-font-weight:    400;
$headings-line-height:    1.5;
$headings-color:          inherit;


//== Base Spacing
$gutter-width:              30px;

$padding-base-vertical:     0.4em;
$padding-base-horizontal:   0.8em;

$padding-large-vertical:    1em;
$padding-large-horizontal:  1.8em;

$padding-small-vertical:    0.25em;
$padding-small-horizontal:  0.5em;

$padding-xs-vertical:       0.1em;
$padding-xs-horizontal:     0.4em;

$line-height-large:         1.3333333;
$line-height-small:         1.5;

$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;

$caret-width-base:          6px;
$caret-width-large:         8px;

//== Animation
$expand-sidebar-delay: 300ms;

//== Scrollbar
$scrollbar-width:        0.75em;

// TODO: for reasons I don't fully understand, the support for touch actions
// impacts scroll performance quite considerably, even when using the mouse.
// For most users, disabling this is probably fine but I guess we should
// make it a configuration or theme option
$touch-action: manipulation;