@layer components {
    .nxm-button {
        z-index: 1;
        position: relative;
        border-radius: 0.25rem;

        display: flex;
        align-items: center;
        justify-content: center;

        white-space: nowrap;
        font-size: var(--tw-text-base);
        letter-spacing: var(--tw-tracking-normal);
        line-height: calc(var(--tw-spacing) * 4);

        min-width: calc(var(--tw-spacing) * 24);
        min-height: calc(var(--tw-spacing) * 9);
        padding-inline: calc(var(--tw-spacing) * 3);

        transition-property:
            color, background-color, border-color, outline-color, fill, stroke,
            opacity, pointer-events;
        transition-timing-function: var(
            --tw-default-transition-timing-function
        );
        transition-duration: var(--tw-default-transition-duration);

        &:disabled,
        &.nxm-button-disabled {
            opacity: 0.4;
            cursor: not-allowed;
        }

        &:is(a, :enabled):not(.nxm-button-disabled) {
            cursor: pointer;

            &:before {
                inset: 0;
                opacity: 0;
                z-index: -1;
                content: "";
                position: absolute;
                pointer-events: none;
                border-radius: inherit;
                transition-property: opacity;
                transition-timing-function: var(
                    --default-transition-timing-function
                );
                transition-duration: var(--tw-default-transition-duration);
            }

            &:hover,
            &:focus-visible,
            &[aria-expanded="true"] {
                &:before {
                    opacity: 1;
                }
            }
        }

        & .nxm-button-icon {
            flex-shrink: 0;
            width: calc(var(--tw-spacing) * 5);
            height: calc(var(--tw-spacing) * 5);

            &:first-child {
                margin-right: calc(var(--tw-spacing) * 1.5);
            }

            &:last-child {
                margin-left: calc(var(--tw-spacing) * 1.5);
            }
        }
    }

    .nxm-button-primary {
        color: var(--tw-color-neutral-inverted);
        background-color: var(--tw-color-primary-moderate);

        &:is(a, :enabled):not(.nxm-button-disabled):before {
            background-color: var(--tw-color-translucent-200);
        }
    }

    .nxm-button-secondary,
    .nxm-button-secondary-filled-strong,
    .nxm-button-secondary-filled-weak {
        border-width: 1px;
        border-style: var(--tw-border-style);
    }

    .nxm-button-secondary {
        color: var(--tw-color-neutral-moderate);
        border-color: var(--tw-color-stroke-moderate);

        &:is(a, :enabled):not(.nxm-button-disabled) {
            &:before {
                background-color: var(--tw-color-translucent-200);
            }

            &:hover {
                color: var(--tw-color-neutral-strong);
                border-color: var(--tw-color-stroke-strong);
            }
        }
    }

    .nxm-button-secondary-filled-strong {
        color: var(--tw-color-neutral-inverted);
        border-color: var(--tw-color-stroke-moderate);
        background-color: var(--tw-color-neutral-strong);

        &:is(a, :enabled):not(.nxm-button-disabled) {
            &:before {
                background-color: var(--tw-color-translucent-dark-200);
            }

            &:hover {
                border-color: var(--tw-color-stroke-strong);
            }
        }
    }

    .nxm-button-secondary-filled-weak {
        color: var(--tw-color-neutral-moderate);
        border-color: var(--tw-color-stroke-moderate);
        background-color: var(--tw-color-neutral-800);

        &:is(a, :enabled):not(.nxm-button-disabled) {
            &:before {
                background-color: var(--tw-color-translucent-200);
            }

            &:hover {
                color: var(--tw-color-neutral-strong);
                border-color: var(--tw-color-stroke-strong);
            }
        }
    }

    .nxm-button-tertiary {
        color: var(--tw-color-neutral-moderate);

        &:is(a, :enabled):not(.nxm-button-disabled) {
            &:before {
                background-color: var(--tw-color-translucent-200);
            }

            &:hover {
                color: var(--tw-color-neutral-strong);
            }
        }
    }

    .nxm-button-tertiary-filled-strong {
        color: var(--tw-color-neutral-inverted);
        background-color: var(--tw-color-neutral-strong);

        &:is(a, :enabled):not(.nxm-button-disabled):before {
            background-color: var(--tw-color-translucent-dark-200);
        }
    }

    .nxm-button-tertiary-filled-weak {
        color: var(--tw-color-neutral-moderate);
        background-color: var(--tw-color-neutral-800);

        &:is(a, :enabled):not(.nxm-button-disabled) {
            &:before {
                background-color: var(--tw-color-translucent-200);
            }

            &:hover {
                color: var(--tw-color-neutral-strong);
            }
        }
    }

    .nxm-button-success {
        color: var(--tw-color-neutral-inverted);
        background-color: var(--tw-color-success-moderate);

        &:is(a, :enabled):not(.nxm-button-disabled):before {
            background-color: var(--tw-color-translucent-200);
        }
    }

    .nxm-button-premium {
        color: var(--tw-color-neutral-strong);
        background-color: var(--tw-color-premium-moderate);

        &:is(a, :enabled):not(.nxm-button-disabled):before {
            background-color: var(--tw-color-translucent-200);
        }
    }
}

@utility nxm-button-sm {
    min-width: 0;
    min-height: calc(var(--tw-spacing) * 7);
    padding-inline: calc(var(--tw-spacing) * 2.5);

    font-size: var(--tw-text-sm);
    line-height: calc(var(--tw-spacing) * 4);
    letter-spacing: var(--tw-tracking-normal);

    & .nxm-button-icon {
        width: calc(var(--tw-spacing) * 4);
        height: calc(var(--tw-spacing) * 4);

        &:first-child {
            margin-right: calc(var(--tw-spacing) * 1);
        }

        &:last-child {
            margin-left: calc(var(--tw-spacing) * 1);
        }
    }
}
