@source inline('{xs:,sm:,md:,lg:,xl:,2xl:,}typography-{body,title,heading}-{xs,sm,md,lg,xl,2xl}');

@utility typography-body-xs {
  font-size: var(--text-2xs);
  line-height: var(--leading-snug);
  letter-spacing: var(--tracking-wider);
}

@utility typography-body-sm {
  font-size: var(--text-xs);
  line-height: var(--leading-snug);
  letter-spacing: var(--tracking-wide);
}

@utility typography-body-md {
  font-size: var(--text-sm);
  line-height: var(--leading-normal);
  letter-spacing: var(--tracking-normal);
}

@utility typography-body-lg {
  font-size: var(--text-base);
  line-height: var(--leading-normal);
  letter-spacing: var(--tracking-normal);
}

@utility typography-body-xl {
  font-size: var(--text-lg);
  line-height: var(--leading-normal);
  letter-spacing: var(--tracking-normal);
}

@utility typography-body-2xl {
  font-size: 1.375rem;
  line-height: var(--leading-normal);
  letter-spacing: var(--tracking-normal);
}

@utility typography-title-xs {
  font-size: var(--text-2xs);
  line-height: var(--leading-normal);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--tracking-widest);
  text-transform: uppercase;
}

@utility typography-title-sm {
  font-size: var(--text-xs);
  line-height: var(--leading-snug);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--tracking-widest);
  text-transform: uppercase;
}

@utility typography-title-md {
  font-size: var(--text-sm);
  line-height: var(--leading-snug);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--tracking-widest);
  text-transform: uppercase;
}

@utility typography-heading-xs {
  font-size: var(--text-lg);
  line-height: var(--leading-tight);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--tracking-normal);
}

@utility typography-heading-sm {
  font-size: var(--text-2xl);
  line-height: var(--leading-tight);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--tracking-normal);
}

@utility typography-heading-md {
  font-size: var(--text-3xl);
  line-height: var(--leading-tight);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--tracking-normal);
}

@utility typography-heading-lg {
  font-size: var(--text-4xl);
  line-height: var(--leading-tighter);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--tracking-tight);
}

@utility typography-heading-xl {
  font-size: var(--text-5xl);
  line-height: var(--leading-tighter);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--tracking-tight);
}

@utility typography-heading-2xl {
  font-size: var(--text-6xl);
  line-height: var(--leading-tighter);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--tracking-tight);
}
