$datepicker__background-color: #f0f0f0 !default;
$datepicker__border-color: #aeaeae !default;
$datepicker__highlighted-color: #3dcc4a !default;
$datepicker__muted-color: #ccc !default;
$datepicker__selected-color: #216ba5 !default;
$datepicker__text-color: #000 !default;
$datepicker__header-color: #000 !default;
$datepicker__navigation-disabled-color: lighten(
    $datepicker__muted-color,
    10%
) !default;

$datepicker__border-radius: 4px !default; // was 0.3rem * 12px
$datepicker__day-margin: 2px !default; // was 0.166rem * 12px
$datepicker__font-size: 10px !default; // was 0.8rem * 12px
$datepicker__font-family:
    "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$datepicker__item-size: 20px !default; // was 1.7rem * 12px
$datepicker__margin: 5px !default; // was 0.4rem * 12px
$datepicker__navigation-size: 5px !default; // was 0.45rem * 12px
$datepicker__triangle-size: 8px !default;
