.btn-dependency {
  padding: 1px 5px;
  border: 0px;
  color: currentColor;
  background-color: transparent;
  &:hover {
    color: $link-hover-color;
    background-color: initial;
  }
  &:active {
    color: $link-hover-color;
    background-color: initial;
  }
  &:focus {
    color: $link-hover-color;
    background-color: initial;
  }
}

.btn-dependency-hasrules svg {
  fill: $link-color;
}

.btn-dependency-norules svg {
  fill: $gray-light;
}

.btn-conflict {
  padding: 1px 5px;
  border: 0px;
  color: currentColor;
  background-color: transparent;
  &:hover {
    color: $link-hover-color;
    background-color: initial;
  }
  &:active {
    color: $link-hover-color;
    background-color: initial;
  }
  &:focus {
    color: $link-hover-color;
    background-color: initial;
  }
}

.btn-conflict svg {
  fill: $link-color;
}

.line {
  border-bottom: 1px solid black;
}

.line-connect {
  stroke: green;
  stroke-width: 3;
}

.line-disconnect {
  stroke: red;
  stroke-dasharray: 5,5;
  stroke-width: 2;
}

.conflict-popover {
  max-width: 500px;
  max-height: 600px;
  overflow-y: auto;
}

.conflict-popover p {
  margin-bottom: 0px;
}

.conflict-rule-select {
  display: inline;
  max-width: 200px;
  vertical-align: top;
}

.conflict-rule-description {
  display: inline-block;
  margin-left: 10px;
}

.conflict-rule-name {
  margin: 0px;
}
