#import-dialog {
  .modal-dialog {
    width: 80%;
  }
}

.table-mods-to-import .dropdown {
  display: inline-flex;
}

.table-mods-to-import .dropdown > button {
  padding: 2px 10px;
  border: 0px;
  min-width: 100px;
}

.table-mods-to-import.cell-local {
  text-align: center;
}

#dropdown-mods-to-import-status {
  padding: 2px 5px;
  border: 0px;
  border-left: 1px solid $gray-light;
  min-width: 0px;
}

.import-working-container {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $gutter-width;
}

.import-success {
  @extend .h3;
  text-align: center;
  color: $brand-success;
  svg {
    width: 2em;
    height: 2em;
  }
}

.import-errors {
  @extend .h3;
  text-align: center;
  color: $brand-danger;
}

.import-review-text {
  color: $text-color-disabled;
}
