@layer components {
    .nxm-dropdown {
        position: relative;
    }

    .nxm-dropdown-items {
        outline: none;
        display: flex;
        overflow-y: auto;
        flex-direction: column;
        box-shadow: var(--shadow-md);
        z-index: var(--z-index-dropdown);
        row-gap: calc(var(--spacing) * 0.5);
        min-width: calc(var(--spacing) * 52);
        max-width: calc(var(--spacing) * 72) !important;
        padding-block: calc(var(--spacing) * 1);
        --anchor-max-height: calc(var(--spacing) * 128);
        border-radius: var(--radius-sm);
        border: 1px solid var(--color-stroke-weak);
        background-color: var(--color-surface-mid);
    }

    .nxm-dropdown-divider {
        width: 100%;
        height: 1px;
        display: block;
        margin-block: calc(var(--spacing) * 0.5);
        background-color: var(--color-surface-translucent-mid);
    }

    .nxm-dropdown-title {
        width: 100%;
        padding-block: calc(var(--spacing) * 1.5);
        padding-inline: calc(var(--spacing) * 3);

        text-transform: uppercase;
        font-size: var(--text-2xs);
        color: var(--color-neutral-subdued);
        line-height: var(--text-2xs--line-height);
        letter-spacing: var(--tracking-widest);
        font-weight: var(--font-weight-semibold);
    }

    .nxm-dropdown-item-pin {
        display: flex;
        flex-shrink: 0;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        width: calc(var(--spacing) * 6);
        height: calc(var(--spacing) * 6);
        border-radius: var(--radius-sm);
        color: var(--color-neutral-subdued);
        margin-right: calc(var(--spacing) * 1.5);

        transition-property:
            color, background-color, border-color, outline-color, fill, stroke, opacity,
            pointer-events;
        transition-timing-function: var(--default-transition-timing-function);
        transition-duration: var(--default-transition-duration);

        &:hover,
        &:focus-visible {
            outline: none;
            color: var(--color-neutral-strong);
            background-color: var(--color-surface-translucent-high);
        }

        > svg {
            width: calc(var(--spacing) * 4);
            height: calc(var(--spacing) * 4);
        }
    }

    .nxm-dropdown-item-chevron-hidden {
        visibility: hidden;
    }

    .nxm-dropdown-item {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        border-radius: var(--radius-sm);
        height: calc(var(--spacing) * 8);
        color: var(--color-neutral-moderate);
        column-gap: calc(var(--spacing) * 1.5);
        margin-inline: calc(var(--spacing) * 1);
        padding-inline: calc(var(--spacing) * 1.5);

        transition-property:
            color, background-color, border-color, outline-color, fill, stroke, opacity,
            pointer-events;
        transition-timing-function: var(--default-transition-timing-function);
        transition-duration: var(--default-transition-duration);

        &:disabled {
            opacity: 0.4;
            cursor: not-allowed;
        }

        &.nxm-dropdown-item-focus,
        &.nxm-dropdown-item-hoverable:enabled:hover {
            color: var(--color-neutral-strong);
            background-color: var(--color-surface-translucent-mid);
        }

        &:focus-visible {
            outline: none;
        }

        .nxm-dropdown-item-label {
            min-width: 0;
            flex-grow: 1;
            overflow: hidden;
            text-align: left;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: var(--text-body-sm);
            line-height: var(--text-body-sm--line-height);
            letter-spacing: var(--text-body-sm--letter-spacing);
        }

        .nxm-dropdown-item-icon {
            flex-shrink: 0;
            width: calc(var(--spacing) * 4);
            height: calc(var(--spacing) * 4);
        }

        &.nxm-dropdown-item-primary .nxm-dropdown-item-icon:first-child {
            color: var(--color-primary-moderate);
        }

        &.nxm-dropdown-item-info .nxm-dropdown-item-icon:first-child {
            color: var(--color-info-moderate);
        }

        &.nxm-dropdown-item-success .nxm-dropdown-item-icon:first-child {
            color: var(--color-success-moderate);
        }

        &.nxm-dropdown-item-premium .nxm-dropdown-item-icon:first-child {
            color: var(--color-premium-moderate);
        }

        &.nxm-dropdown-item-danger {
            color: var(--color-danger-strong);

            &.nxm-dropdown-item-focus,
            &.nxm-dropdown-item-hoverable:enabled:hover {
                color: var(--color-danger-strong);
            }
        }
    }
}
