@layer components {
    .grid-games {
        display: grid;
        row-gap: calc(var(--spacing) * 6);
        column-gap: calc(var(--spacing) * 3);
        grid-template-columns: repeat(auto-fill, minmax(9.5rem, 1fr));
    }
}
