.no-scrollbar {
    scrollbar-width: none;
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
    .modern-layout {
        & ::-webkit-scrollbar {
            max-width: calc(var(--spacing) * 1);
            max-height: calc(var(--spacing) * 1);
        }

        & ::-webkit-scrollbar-thumb {
            border-radius: calc(infinity * 1px);
            background-color: var(--color-surface-mid);

            &:hover {
                background-color: var(--color-surface-high);
            }
        }

        & ::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }
}
