@layer components {
    .nxm-toolbar {
        display: flex;
        align-items: center;
        min-width: 0;
        flex-shrink: 0;
        column-gap: calc(var(--spacing) * 2);
    }

    .nxm-toolbar-group {
        display: flex;
        align-items: center;
        column-gap: calc(var(--spacing) * 2);

        > * {
            flex-shrink: 0;
        }
    }

    .nxm-toolbar-overflow {
        overflow-y: auto;
        padding-block: calc(var(--spacing) * 1);
        min-width: calc(var(--spacing) * 52);
        max-width: calc(var(--spacing) * 72) !important;
        --anchor-max-height: calc(var(--spacing) * 128);
    }
}
