@layer components {
    .nxm-toolbar {
        display: flex;
        align-items: center;
        min-width: 0;
        flex-shrink: 0;
        column-gap: calc(var(--spacing) * 2);
    }

    .nxm-toolbar-group {
        display: flex;
        align-items: center;
        column-gap: calc(var(--spacing) * 2);

        > * {
            flex-shrink: 0;
        }
    }
}
