#morrowind-plugin-panel {
  .list-group {
    border: $border-width solid $border-color;
    min-height: $gutter-width;
    overflow: auto;
    height: 100%;
  }
  .plugin-entry {
    background-color: $brand-bg;
    margin: 4px;

    &.dragging {
      opacity: 0;
    }
  }

  > .layout-container > .layout-flex {
    margin: 4px;
  }

  .plugin-column {
    padding: 4px;
  }
}
