.feedback-page {
  padding-right: $gutter-width / 2;
}

.textarea-feedback {
  width: 100%;
  resize: none;
  position: absolute;
  top: 0;
  bottom: 0;
}

.dropzone-feedback {
  height: 100px;
  width: 30%;
  display: table-cell;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  border-style: dashed;
  border-width: 2px;
  border-color: $gray;
}

.dropzone-feedback.hover-click {
  border-style: solid;
  border-width: 2px;
  border-color: $link-color;
}

.dropzone-feedback.hover-valid {
  border-style: solid;
  border-width: 2px;
  border-color: $brand-success;
}

.dropzone-feedback.hover-invalid {
  border-style: solid;
  border-width: 2px;
  border-color: $brand-warning;
}

.feedback-instructions {
  margin-bottom: $half-gutter;
}

.feedback-controls {
  justify-content: space-between;

  >* {
    .toggle-container {
      margin-top: 4px;
    }
  }
}

#btn-attach-feedback {
  margin-left: 8px;
}

.feedback-files {
  display: flex;
  flex-wrap: wrap;
  max-height: 9em;
  overflow-y: auto;

  .list-group-item {
    width: 33%;
  }
}
