name: Main

on:
  push:
      branches: [ master ]
  pull_request:
      branches: [ master ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: windows-latest
    env:
      NO_PARALLEL: true
      NEXUS_API_KEY: ${{ secrets.NEXUS_API_KEY }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Print dotnet info
        run: dotnet --info

      - name: Read Node.js version from package.json
        id: node-version
        shell: pwsh
        run: |
          $packageJson = Get-Content package.json | ConvertFrom-Json
          $nodeVersion = $packageJson.engines.node
          echo "NODE_VERSION=$nodeVersion" >> $env:GITHUB_OUTPUT
          echo "Using Node.js version: $nodeVersion"

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ steps.node-version.outputs.NODE_VERSION }}
          cache: "yarn"

      - name: Install dependencies
        run: yarn --frozen-lockfile --network-timeout 600000 install

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test


