name: Package

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        dotnet-version: [ 6.0.x ]

    steps:   
      - uses: actions/checkout@v3
        with:
          submodules: "recursive"

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          cache: "yarn"

      - name: Install dependencies
        run: yarn --frozen-lockfile --network-timeout 600000 install

      - name: Print debug info
        run: dotnet --info

      - name: Build
        run: yarn ci

      - name: Test
        run: yarn test
