$brand-primary: #acecff;
$brand-highlight: #428BCA;
$brand-success: #5cc75b;
$brand-info: #72b3df;
$brand-warning: #F1AE4E;
$brand-danger: #D95450;
$brand-bg: #e2e2e2;
$brand-menu: #bbbbbb;
$brand-secondary: #9095a0;
$brand-selected: #a5b1c2;
$text-color: #490c0c;
$text-color-disabled: #bbbbbb;
$link-color: #3498DB;
$font-size-base: 13px;
$font-family-base: "Segoe UI";